[2014-01-14 08:07] Expander opened #1 "Rho parameter hard-coded to be 1 at tree-level"
In the low-scale constraint the rho parameter is hard-coded to be 1 at tree-level.  This is incorrect for example in the MRSSM and models with extra U(1) gauge groups.

The hard-coding is done in `@ModelName@_low_scale_constraint<Two_scale>::calculate_DRbar_gauge_couplings()` by setting
`cW2 = MW2/MZ2`
`new_g1 = e_drbar * g1_inv_gut_normalization / cosThetaW_drbar`
`new_g2 = e_drbar * g2_inv_gut_n

[2014-01-21 13:05] #1 closed, assigned to Expander

[2014-01-27 16:50] Expander opened #2 "`make all-test` fails on HFS"
`make all-test` fails on HFS with the following error messages:

`test/test_two_scale_mssm_solver.cpp:197:7: error: use of undeclared identifier 'Mssm_low_scale_constraint'; did you mean 'MSSM_low_scale_constraint'? Mssm_low_scale_constraint mssm_mz_constraint(pp); ^~~~~~~~~~~~~~~~~~~~~~~~~ MSSM_low_scale_constraint models/MSSM/MSSM_low_scale_constraint.hpp:27:7: note: 'MSSM_low_scale_constraint'

[2014-03-22 12:49] skalarproduktraum opened #4 "Check for available Mathematica licenses before spawning processes"
If another MathKernel gets spawned while the number of kernels permitted by the license is exhausted, the process simply gets stuck without returning any errors, but asking for a new License. Which is especially annoying while running automated tests ;)

This could be circumvented by getting license information via p.e. `SystemInformation["Kernel", "MaxLicenseSubprocesses"]` and comparing this to

[2014-04-28 07:08] #4 closed, assigned to nobody

[2014-06-10 09:27] #2 closed, assigned to nobody

[2015-08-11 14:48] dylan-harries opened #5 "Incomplete conversion to C-style string"
In certain expressions the function RValueToCFormString may not correctly convert all Greek characters to the corresponding valid C-style string. Instead the characters are left as they would ordinarily be entered in Mathematica. This results in the generated code failing to compile.

This issue can be tested for using the following tests:

[code]

The second test can fail, with the second occurre

[2015-08-11 15:05] dylan-harries opened #6 "Potential compilation error due to ambiguous operator overload"
Both src/wrappers.hpp and src/mycomplex.h provide definitions of multiplication of a complex quantity by an integer. The definition in wrappers.hpp is contained within the flexiblesusy namespace, but that in mycomplex.h is in the global namespace. This can lead to compilation errors due to an ambiguous operator overload in cases analogous to the following:

[code]

In practice, this error can occu

[2015-09-04 09:03] #5 closed

[2015-09-04 12:50] #6 closed

[2017-01-23 08:48] JP-Ellis opened #12 "Error with ReadSLHAPhysicalMixingMatrixBlock"
I'm unsure why, but I'm getting an error when `<model>_slha_io.cpp` is being generated which results in the file containing some Mathematica code when it shouldn't be.  While the file is being generated, the errors are:

[code]
and the first line of output file is:

[code]
or, in a slightly more readable form:
[code]

The `BMN`, `SMS`, `SMP` and `SMC` mixing matrices all describe mixing between th

[2017-01-23 09:28] Expander commented on #12
Hi Joshua,

could you please send me the FS and SARAH model files to reproduce the
error?

Many thanks,
Alex

On 01/23/2017 09:48 AM, Joshua Ellis wrote:

--
[code]

[2017-01-23 18:00] #12 closed

[2018-03-08 10:59] wkotlarski opened #24 "Leptoquarks probably break the calculation of a lot of observables (e.g g-2)"
Routine that calculates the g-2 written by Jobst use vertices in `MODELNAME_cxx_diagrams.hpp`. There the color structures are stripped away. If you have a model with a leptoquark you will have a contributions to various electroweak observables from closed loops with color charged particles.
So the result for those diagrams will be off by some color Casimir.

Kien is now working on a version of ver

[2018-03-08 17:40] Expander commented on #24
Many thanks for reporting this issue and for looking into a potential solution!

The `Vertices` module was originally intended to generate the vertices needed to calculate the SARAH-generated self energies and tadpoles.  These self energies / tadpoles are written in the form

    C * V1 * V2 * LoopFunction

where `V1` and `V2` are vertex expressions generated by the `Vertices` module and `C` is a

[2018-09-28 08:08] wkotlarski opened #25 "Interface a thread safe loop library"
Many of us need an access to a Passarino-Veltman loop functions for arbitrary kinematic configurations. Currently, this is done by using LoopTools. Since LoopTools uses global variable to specify, for example, renormalization scales one has to disable multithreading. We need something better. Ideally, the integration library should be selectable at run time. Maybe something along the lines of the

[2018-09-29 11:47] wkotlarski opened #26 "cxxdiagrams conflict with original SOFTSUSY"
As far as I undestand some unit tests test against SOFTSUSY, in the process including SOFTSUSY headers. SOFTSUSY opens up an entire std namespace. This causes problems in vertices.hpp. The offending lines are those:
[code]
since at this point vector is ambigious. To be clear, the fault is not on our side but we might want to patch it on our side. Specifiyng namespace in above lines eliminates the

[2018-09-29 18:18] #26 closed

[2018-09-30 13:53] wkotlarski opened #27 "move dilogarithms to different namespace"
The decay module that I write with @azedarach needs access to dilogarithm. Currently they are in `gm2calc` namespace. Can they be moved to a more suitable place? It doesn't make much sense why decays should be coupled with `gm2calc`.

[2018-09-30 14:58] #27 closed

[2018-10-09 16:42] wkotlarski opened #28 "strong scale dependence of light quark pole masses"
The b-quark pole mass in the SM at the scale of the Higgs mass is around 3.7 GeV. We suspect this is due to the residual scale dependence of 1-loop calculation. The formula for h&rarr;bb&#773; decay width interpolates between on-shell and MS/DR calculation. Since the b-quark mass is small enough the influence of the wrong b pole mass is small. But isn't it a problem in general? That someone might

[2018-10-10 15:30] wkotlarski opened #29 "--start-group/--end-group are not supported by ld for OS X"
According to an intel engineer in this [thread](https://software.intel.com/en-us/forums/intel-fortran-compiler-for-linux-and-mac-os-x/topic/671530) OSX's ld doesn't support --start-group/--end-group. This is used in `test/module.mk`.

[2018-10-12 18:56] wkotlarski opened #30 "makefile rule for test_SMSSM_one_loop_spectrum.x doesn't include eigen headers"
Running `make test/test_SMSSM_one_loop_spectrum.x`
calls
[code]
while the same for `test/test_SM_one_loop_spectrum.x` executes
[code]
This causes an `src/wrappers.hpp:31:10: fatal error: 'Eigen/Core' file not found` error in some cases.

[2018-10-12 23:31] Expander commented on #30
Sorry, I cannot reproduce this issue. I have configured and build with

    ./configure --with-models=SM,SMSSM --with-optional-modules=test
    make -j4

After deleting the test files we're concerned about

    rm test/test_SM_one_loop_spectrum.{o,x}
    rm test/test_SMSSM_one_loop_spectrum.{o,x}

I ran the commands you've described and got the following output:

[code]

and

[code]

I.e. for each

[2018-10-13 04:31] wkotlarski commented on #30
I'm sorry Expander, I made a simple mistake. I made a typo which resulted in FS not being configured with the model SMSSM. Could the build script be bulletproofed against such stupid mistakes?

[2018-10-14 14:00] wkotlarski opened #31 "more verbose message when a model has wrong name"
When a model name contains disallowed characters, e.g. '-', we print the following message: "Error: invalid model name". This is correct, but I'm afraid that the user might not figure out what to do with it. Maybe something like "Disallowed character in model name" would be better. We might be even more explicit and say exactly what is wrong. I could modify the appropriate function in createmodel

[2018-10-14 14:30] Expander commented on #31
Hi Wojciech,

I like your suggestion! Please feel free to modify the function to give a better error message. I'm looking forward to your pull request. :)

Best,
Alex

[2018-10-14 14:50] pathron commented on #31
Hi Wojciech,

Good idea!

Being explicit and stating the offending character would be perfect, if it’s easy to do. Or you could just say "Disallowed character in model name, allowed characters in model names are...”

Cheers,
Peter

Sent from my iPad

[2018-10-14 19:42] wkotlarski commented on #31
Can you review commit d2d006f71c335ced79a44673d96596fcf6b2d2ea? It seems to do the trick. It's slighly longish because I wanted the formating to be nice. It should print something along the lines of
[code]

[2018-10-14 20:10] Expander commented on #31
That looks very nice! One comment, though: Would you mind using `printf` instead of `echo`? It is more portable, see https://unix.stackexchange.com/questions/65803/why-is-printf-better-than-echo .

[2018-10-14 20:28] Expander commented on #31
Great, thanks! Would you mind creating a pull request for these three commits?

[2018-10-17 17:06] #31 closed

[2018-10-26 13:37] #29 closed

[2018-11-15 17:02] wkotlarski opened #36 "print warning when specyfying --with-looptools-incdir or --with-looptools-libdir but not --enable-looptools"

[2018-11-16 07:00] #36 closed

[2018-11-16 07:02] #30 closed

[2018-12-08 10:29] wkotlarski opened #38 "configure fails if LoopTools is compiled with quadruple precision"
The quadruple library is called `libooptools-quad.a` but configure checks only for `libooptools.a`. Do you think it makes sense to check for both?

[2018-12-10 07:21] Expander commented on #38
I think at the moment there is no need to check for `libooptools-quad.a`, because we don't use it. (Also, it would not make much sense to use it, because we would not gain anything from quad precision as FlexibleSUSY does not provide quad precision routines.)

[2018-12-12 12:33] wkotlarski commented on #38
Imagine the situation that you evaluate a loop functions close to some weird threshold. It could be beneficial to do the reduction with quadruple precision, even if the final result will be truncated to double precision. It's purely for test/validation purposes.

[2018-12-12 17:21] Expander commented on #38
I agree that it would be good for testing.

However, I think we would not gain anything from using quad precision, because the *input* would still be double precision. So, the threshold would be defined in terms of the double precision input and I cannot imagine how the internals of LoopTools could "recover" the missing bits.

But maybe I'm overlooking something? Do you have a specific threshold i

[2018-12-12 23:07] wkotlarski opened #39 "return of the old bug"
@ioloyz re-introduced in commit c9ecf50aaa210c374581af969bc3930dd30d3168 a bug fixed in commit 7da3f384db897d3138fd2f78c48fb15c478bc4da.

[2018-12-13 07:18] Expander commented on #39
Oh.

In which generated file(s) did you spot this bug?  (I'd like to reproduce it.)

[2018-12-13 10:39] wkotlarski commented on #39
The error will occur if you have a pseudoscalar - fermion - fermion coupling. Then the parameters needed to evaluate the vertex will not be defined in the vertex struct.

[2019-01-11 09:09] iolojz opened #45 "There are duplicate symbol error messages"
When running `make` (internally ```Needs["FlexibleSUSY`]``` in `models/XXX/start.m` there are two error messages:
- ```Susyno`LieGroups`m2::shdw```: Symbol `m2` appears in multiple contexts ```{Susyno`LieGroups`,SARAH`};``` definitions in context ```Susyno`LieGroups` ``` may shadow or be shadowed by other definitions.
- ```Susyno`LieGroups`M::shdw```: Symbol `M` appears in multiple contexts ```{Su

[2019-01-11 09:15] iolojz opened #46 "There is a file not found error message"
When running `make` (internally `Start["XXX"]` in `models/XXX/start.m`) with a `SARAH` default model that does not lie in the `sarah` directory (e.g `SM`), there is the error message:

```FileByteCount::fdnfnd```: Directory or file ```/home/h7/s3377910/FSUpstream/sarah/XXX/XXX.m``` not found.

[2019-01-11 09:31] Expander commented on #46
Sorry, I cannot reproduce this issue on the current development branch with Mathematica 9 and SARAH 4.14.0, using SARAH's `SM` model. Which configuration do you use?

[2019-01-11 09:48] iolojz commented on #46
Hm, maybe my SARAH version is too old then... I will try again with a recent version.

[2019-01-11 09:49] iolojz commented on #45
Yes, but my SARAH version might be too old. I will try again with a recent version.

[2019-01-16 08:15] Expander commented on #45
Is this issue still there with the recent SARAH version on your machine?

[2019-01-16 08:15] Expander commented on #46
Is this issue still there with the recent SARAH version on your machine?

[2019-01-16 09:35] iolojz commented on #45
I just checked again. No, I cannot reproduce the issue with SARAH 4.14.1.

[2019-01-16 09:35] #45 closed

[2019-01-16 09:38] iolojz commented on #46
Yes, with SARAH version 4.14.4, I get the following output:

Preparing arrays
 ... checking Directory: /home/h7/s3377910/FSUpstream/sarah

FileByteCount::fdnfnd:
   Directory or file /home/h7/s3377910/FSUpstream/sarah/SM/SM.m not found.
 ... checking Directory: /home/h7/s3377910/.Mathematica/Applications/SARAH/Models/
Model files loaded
  Model    : SM
  Author(s): F.Staub
  Date     : 2014-11-06

[2019-01-16 10:10] Expander commented on #46
I think what you see may not a bug, but just an internal message from SARAH (although I'm wondering why I don't see it):  In `models/SM/start.m` we have
[code]

So, first SARAH should search for the SM model inside the directory `./sarah/`. If it cannot be found there, it shall look in the `$sarahDir/Models` directory. It seems that in your case SARAH prints an error message if it cannot find the

[2019-01-16 10:44] iolojz commented on #46
That sounds possible! If I run e.g `FileByteCount["lajsbdasjhd"]` I get

FileByteCount::fdnfnd: Directory or file lajsbdasjhd not found.

an the return value `$Failed`. What do you get?

[2019-01-16 11:40] Expander commented on #46
If I understand correctly, SARAH executes (in `SARAH.m`):
[code]
When I execute this, I get no error message, but (as in your case) `FileByteCount["lajsbdasjhd"]` returns `$Failed`. What do you get?

[2019-01-16 12:24] iolojz commented on #46
I still get the error message. So you are right, it is a feature of my Mathematica version.

[2019-01-16 12:24] #46 closed

[2019-01-16 12:24] iolojz commented on #39
Should we close this bug? @wkotlarski

[2019-01-16 12:46] wkotlarski commented on #39
Does it work now? Do we have a unit test for this case?

[2019-01-16 12:54] iolojz commented on #39
It probably does. No, we do not. Do you want to write one? ;)

[2019-01-16 12:55] wkotlarski commented on #39
Yes. I can do it. But now I'm super busy. So please leave the bug open until I write the unit test.

[2019-01-16 12:59] iolojz commented on #39
Alright, thank you :)

[2019-01-22 09:11] SoundSonic1 opened #48 "configure script fails to track correct FeynArts version"
If i set --enable-feynarts, the configure script reads the current FeynArts version via
$FeynArts = 3.10 = 3.1 < 3.9
and therefore the version does not pass the requirement.

[2019-01-22 10:14] Expander commented on #48
Many thanks for reporting this issue! Do you know in which FeynArts version it will be fixed?

[2019-01-22 10:22] SoundSonic1 commented on #48
Apparently, he changed it yesterday after i told him the issue. We are going to adapt to this new format.

[2019-01-22 12:06] Expander commented on #48
Are you preparing a patch?

[2019-01-22 13:01] Expander commented on #48
Many thanks for fixing this!

[2019-01-22 13:02] #48 closed

[2019-01-22 15:21] wkotlarski opened #50 "developement branch fails to compile with intel compiler"
The current developement branch (commit 6e4c213a19f5d476f95bc734f25c8e44b3518ba8) fails to compile with intel compiler with a wall of errors like
[code]
This comes from @iolojz part.

[2019-01-22 15:44] Expander commented on #50
Which value of the intel compiler are you using?

[2019-01-22 15:46] wkotlarski commented on #50
If you mean version, it's 19 ;)

[2019-01-22 15:52] Expander commented on #50
Sorry. :)
It comes from @iolojz part, right?

[2019-01-23 01:57] wkotlarski commented on #50
Yes.

[2019-01-23 08:13] iolojz commented on #50
This is due to unfortunate naming from my part... There is a type called `field_indices` as well as a member function with the same name. Apparently that confuses the intel compiler. I will have a look at it.
I believe there are also some std headers that need to be specifically included for the intel compiler.

[2019-01-23 12:48] iolojz commented on #50
The issues with CXXDiagrams code should be fixed by https://github.com/FlexibleSUSY/FlexibleSUSY/pull/52. However, I still get some undefined references from other parts of FlexibleSUSY:

[code]

[2019-01-23 12:50] #50 closed

[2019-01-24 06:57] Expander commented on #38
Could it be, that you need to compile FS with `-DQUAD=1` or in order to make it work? I'm asking, because in `clooptools.h` I see

[code]

So, depending on the value of `QUAD` the function signature of the LoopTools functions changes. Maybe this is a problem?

In the meta code we set ``SARAH`A0[0] -> 0`` (see `meta/CConversion.m`). However, it may be that there is a call to `A0(m)` and `m` becomes

[2019-01-24 10:34] wkotlarski commented on #38
Great idea. Unfortunately, this doesn't help. Looking again at the error message, there's this
[code]
Could it be that for whatever reason ``SARAH`A0[0] -> 0`` replacement doesn't work as intended? I'm testing everything with the SM, so the only particles that could potentially be massless are neutrinos and Goldstones.

[2019-01-24 10:51] Expander commented on #38
Indeed, in the current implementation of the SM the neutrinos are massless. They contribute in the self-energy of the Z boson, for example, in form of a `H(p^2, mv^2, mv^2, Q^2)` loop function. `H0` is expressed in terms of `A0`, `B0` functions. So, indeed, the error may come from there.

In FS we set `A0(m^2) = 0` if `m` is below a small threshold (currently `1e-4`). This is reasonable, because i

[2019-01-25 14:32] SoundSonic1 opened #54 "CXXDiagrams cannot handle triple gauge boson couplings"
I firmly believe that CXXDiagrams cannot handle the triple gauge bosons couplings. However, they are required in a lot of processes.

[2019-02-01 15:36] wkotlarski commented on #54
I also believe that we're also missing 4-vector and vector 2 ghosts ones.

[2019-02-01 22:18] wkotlarski commented on #54
@iolojz, @azedarach implemented all the remaining vertices in [this](https://github.com/FlexibleDecay/FlexibleSUSY/tree/feature-decays) branch. Maybe they can be lifted?

[2019-02-02 09:10] azedarach commented on #54
It would certainly be much cleaner if the remaining vertices were implemented consistently with the existing ones. I think the implementation in the decays branch could serve as a starting point, but it would need to be brought into line with that already present in the development branch - as I am relatively unfamiliar with the internals of CXXDiagrams, I split things up while trying to work out

[2019-02-07 00:32] wkotlarski opened #58 "missing header"
The `context_base.hpp.in` internally creates an instance of class `@ModelName@_mass_eigenstates`. Shouldn't `context_base.hpp.in` then include `@ModelName@_mass_eigenstates.hpp`?

[2019-02-07 06:38] Expander commented on #58
Yes, definitely!

[2019-02-07 06:39] Expander commented on #58
@wkotlarski  or @iolojz, could you please provide a fix?

[2019-02-07 20:11] wkotlarski commented on #58
Fixed in #60. @iolojz, check if you agree.

[2019-02-07 20:19] Expander commented on #58
Perfect, many thanks!

[2019-02-08 10:13] iolojz commented on #58
Absolutely, I actually ran into the same issue myself yesterday ^^
The fix looks fine.

[2019-02-08 10:14] #58 closed

[2019-02-08 12:32] iolojz commented on #39
If you still wish to write the unit test for this, it is probably very easy to do by having a look at `test/test_SM_cxxdiagrams.meta` and `test/test_SM_cxxdiagrams.cpp.in` from https://github.com/FlexibleSUSY/FlexibleSUSY/pull/62.

[2019-02-09 10:25] wkotlarski opened #63 "Idea for the replacement for SARAH`Vertex function"
Currently inside the code that calculates a lot of observables we ask for ``SARAH`Vertex``. This is bad since it takes > 1s for every single call as the vertex has to be recalculated. Below is an idea for a replacement for this function, called `FSVertex`. It reads the cached vertices and it remembers the calls to it so that subsequent calls to the same vertex are speed up. Here's the complete cod

[2019-02-10 00:52] Expander commented on #63
Many thanks, this idea is great! I remember that Jobst uses something similar in his `CXXDiagrams.m` module. Maybe his implementation can be combined with your proposal?

Besides this, I have a few remarks/questions:

* Please compose the path using ``FileNameJoin[{SARAH`$sarahCurrentOutputMainDir, "EWSB", "Vertices"}]`` and `FileNameJoin[{prefix, "VertexList3.m"}]` in order to be platform indepen

[2019-02-10 11:23] wkotlarski opened #64 "interface to Collier"
I'd like to kick off the discussion about the interface to `Collier`. `Collier` doesn't solve the problem raised in #25 but is definitely an improvement over `LoopTools`. As you might know there is no `C/C++` interface to `Collier`, we will have to write it ourself. Here's one solution I came up with.

On the Fortran side, one has an intermediate module where we use the Fortran2003 feature of `iso

[2019-02-11 06:43] Expander commented on #64
I'd recommend to write a FORTRAN wrapper function for each loop function from COLLIER. As you say, this enables a high degree of compatibility with multiple FORTRAN/C++ compilers.

For the interface itself, I'd recommend to

* use a FORTRAN `function`, instead of a `subroutine`, because a `subroutine` returns `void`
* use `bind(C,name='A0_cll_I')` to ensure that the compiler generates the right fu

[2019-02-11 10:27] wkotlarski commented on #64
@Expander, can you prepare the configure script to link against `Collier`? How should we handle the selection of loop library?

[2019-02-11 12:09] Expander commented on #64
Yes, I can do that. However, I'd like to take the opportunity to change the way the loop function library is chosen, because currently we already have a few options, and it we would now introduce another one:

Currently we have the options `--enable-fflite` and `--enable-looptools`, where only one of them must be selected (i.e. they are conflicting). Adding another (conflicting) flag `--enable-col

[2019-02-11 14:53] SoundSonic1 commented on #63
I would like to have the reading process for the cached vertices to happen only once and not every time `FSVertexWithoutIndices` is called with a different argument.

Additionally, one should check first whether the files `VertexList3.m/VertexList4.m` exist.

[2019-02-12 07:39] wkotlarski commented on #64
And what do you say about giving the possibility to select loop libraries at run time?

[2019-02-12 07:47] wkotlarski commented on #63
@Expander, can we store the list of vertices in a "global" variable somewhere in `FlexibleSUSY`?

[2019-02-13 09:07] wkotlarski commented on #63
The `CXXDiagrams` module from @iolojz has a private function called `LoadVerticesIfNecessary` which does what is says. After that the vertices are stored in ``SARAH`VertexList3`` and ``SARAH`VertexList4``. We might make it public. Shoud every module that uses `FSVertex` function be responsible for calling this function before calling any `FSVertex`? Also, should `LoadVerticesIfNecessary`  be moved

[2019-02-13 12:08] iolojz commented on #63
I like the idea of using `LoadVerticesIfNecessary[]` because it only reads the files once - afterwards the vertices are available through the SARAH variables.
However, one big issue is that vertices are only saved in a canonical ordering and one needs to manually translate the expressions to different orderings. This is also done in `VertexFunctionBodyForFields[]` in CXXDiagrams but the result is

[2019-02-13 12:55] iolojz commented on #63
Also, note that the FS convention for vertices is `-I` times the SARAH one.

[2019-02-13 20:22] wkotlarski opened #65 "possible problem with linking against LoopTools v2.15"
If I link against `LoopTools` v2.15 I'm getting the following error
[code]
The `LoopTools` is compiled in double precision. The solution for me is to add `quadmath` to the linker. Has anyone ever seen something like that and can confirm this error?

[2019-02-14 13:42] iolojz commented on #63
Additionally, one needs to consider GUT normalizations. SARAH does not have these, while FS does.

[2019-02-15 20:58] wkotlarski opened #66 "potential error in loop function interface"
@Expander, are those spaces before `include` in `pv.cpp` in
[code]
intentional?

[2019-02-15 22:11] Expander commented on #66
Yes, they are intentional because they improve readability. All tested C preprocessors accept spaces between `#` and `include`.

[2019-02-15 22:13] Expander commented on #63
Yes, I'd strongly recommend to stick to the uniform FS convention of always including the GUT normalization, everywhere. (In SARAH sometimes the GUT normalization is included, sometimes it is not, which I find very error prone.)

[2019-02-15 22:18] Expander commented on #65
I have not seen this error before. Which compiler are you using? Could you please paste the exact linking command that is used (just copy it from the FS build output)? Did you add `libquadmath` via `./configure --with-shared-ldlibs=lquadmath`?

[2019-02-16 00:50] wkotlarski commented on #66
Oh, thanks! Didn't know it works like this.

[2019-02-16 00:50] #66 closed

[2019-02-16 11:37] wkotlarski commented on #64
@Expander, @azedarach added C functions to `pv`. So `FlexibleDecay` is calling `LoopTools` through this wrapper. Are you ok with this? If yes I'll send you a pull request. I'm afraid that this change might interfere with the `collier` interface we talked about.

[2019-02-22 13:20] iolojz opened #69 "FeynmanDiagramsOfType[] reverses initial and final states."
Thanks to @wkotlarski for this. On the surface `FeynmanDiagramsOfType[]` uses the SARAH convention "Everything is incoming" but then sneakily does "Everything is outgoing" leading to conjugated vertices instead of the ones one would expect.

[2019-03-04 14:15] #69 closed

[2019-03-04 14:16] iolojz commented on #54
This is fixed by https://github.com/FlexibleSUSY/FlexibleSUSY/pull/62.

[2019-03-04 14:17] iolojz commented on #39
Can this be closed now?

[2019-03-04 14:18] #54 closed

[2019-03-04 14:20] wkotlarski opened #71 "sanitazing requested observables"
Should we check if the observable block in `FlexibleSUSY.m.in` makes sense? For now this is done inside of `GetRequestedObservables` for the case of effective couplings. The problem is that the function `GetRequestedObservables` is called multiple times. Printing a warning from it every time someone calls it for an unrelated observable seems a bad idea. If you agree, than were should we check the

[2019-03-05 06:36] Expander commented on #71
I agree, moving the sanity check out of the `GetRequestedObservables` function would be better. The new `CheckObservables` function could then be called early in the `MakeFlexibleSUSY[]` function (where the other sanity checks are done).

[2019-03-13 11:59] wkotlarski commented on #24
I think now everything works.

[2019-03-13 11:59] #24 closed

[2019-03-18 19:45] wkotlarski opened #76 "meta phase for CSE6SSM might fail"
Is it possible to bullet proof the makefile for his? Maybe check that no code was emitted? Same way how we check that non zero error code means failure?

[2019-03-18 20:47] Expander commented on #76
I think there is no sane way to check that no code was omitted, because Mma may crash at any step, even after some files have been written.

But I can check what make does when a process segfaults etc. Maybe one can catch this?

[2019-03-19 05:30] pathron commented on #76
You mean that it could crash half way through the generation of last file so you get incomplete C++ files?  I feel like it would still be useful to have a check that all files that were supposed to be generated were actually created though.  Simply catching when mathematica crashes would of course be better for a full proof solution to this issue though.

[2019-03-19 08:26] wkotlarski commented on #76
@Expander, we check if the mathematica part doesn't emit a code 1 back to a shell. I assume, that a successful run emits code 0. But what happens when the meta phase crashes?

[2019-03-19 12:04] Expander commented on #76
You are right, if the exit code is non-zero, `make` stops. Apparently this does not happen when Mma crashes, which seems strange.  According to
https://stackoverflow.com/questions/14599670/what-error-code-does-a-process-that-segfaults-return
the exit code should be non-zero when a segfault appears. But I'm not sure what happens in practice when Mma crashes.

Anyway, I've checked with the simple pr

[2019-03-19 14:18] uukhas commented on #76
I tried to build CSE6SSM model with FlexibleSUSY installed (today) directly from GitHub and I also got an error. The same happened with FlexibleSUSY-2.3.0 installed from hepforge.

[2019-03-20 09:07] wkotlarski opened #78 "grouping models in subdirectories"
Is it possible to group models inside of `model_files` into subdirectories? So that, for example, all `MSSM` versions are inside of `MSSM` sub-folder?

[2019-03-20 11:49] Expander commented on #78
In principle this is a good idea, but I'm not sure how to do it in a future-proof way. I'm thinking of future spectrum generators (in fact some are already in the pipeline), where you have a tower of EFTs. For example:
[code]
How should we name these spectrum generators and how should the corresponding `doc/models/` sub-directories be named?

[2019-03-20 13:27] wkotlarski opened #79 "clang error: abs is not constexpr"
`FlexibleSUSY` doesn't compile with `clang` with a message

[code]
Maybe we can replace `abs` with ternary if.

[2019-03-20 16:00] Expander commented on #79
Thanks for the catch! I think you just found a bug in `g++`!  :)
I'll fix it.

[2019-03-20 16:20] Expander commented on #79
Could you please test whether pull requets #80 fixes this issue?

[2019-03-20 22:05] wkotlarski commented on #79
Yes, it does. But there is something else that worrries me. This error is not triggered on my linux machine. I'm trying to figure out why right now.

[2019-03-20 22:10] Expander commented on #79
I cannot reproduce the error on my linux machine, either.

[2019-03-20 22:39] wkotlarski commented on #79
So this fails
[code]
but this works
[code]
Seems it depends how lucky we are.

[2019-03-20 22:42] Expander commented on #79
There seems to be a difference between `abs(int)` and `abs(double)`.

[2019-03-20 22:44] Expander commented on #79
Shall I merge it?

[2019-03-20 22:44] wkotlarski commented on #79
Yes, please.

[2019-03-21 08:02] #79 closed

[2019-03-21 09:21] Expander opened #82 "munuSSM fails to compile"
In the nightly test the following compilation error occurred:
[code]
The error comes from within the `*_l_to_lgamma.cpp` module.

@wkotlarski would you mind having a look what's going wrong there?

[2019-03-21 09:32] wkotlarski commented on #82
Wow. I know what's wrong. Sorry about that.

[2019-03-21 23:15] wkotlarski commented on #82
There is one aspect of this which is troubling. I want to get a physical mass of a lepton. For now, I took it from the SLHA input file. For such a weird models this is not possible. If I have 5 "leptons" I, in general, don't know how to map them to SM fields. I can take a pole mass as calculated by FS but then, for example, the muon mass is 0.111 GeV instead of 0.105 GeV. Any ideas?

[2019-03-22 06:24] Expander commented on #82
Yes, this is of course a critical point. It is basically the same situation as with the Higgses in the MSSM, where a mixing with the SM-like Higgs occurs and your lightest Higgs may not be "the SM one".

We had this discussion over years and I think there are a few possibilities:

a) We restrict our-selfs to the case where we allow BSM particles which mix with the SM particles to *only be heavier*

[2019-03-22 08:12] SoundSonic1 commented on #82
Subtracting the known SM contribution can be troublesome. For instance, the model might use a different renormalisation scheme. Also, the SM contributions probably contain higher loop corrections than we can calculate for BSM models.

[2019-03-22 08:59] Expander commented on #82
That is true, of course, one has to make sure the renormalization scheme matches.

If you can split up the SM contribution into a 1-loop and higher order parts, then I think there should not be a problem, because you can then simply write
[code]

[2019-03-22 12:28] wkotlarski commented on #82
My problem is actually different. I don't have a problem with distinguishing between SM and non SM contributions. My question is which pole mass should we use. Case in point - in g-2 routine @iolojz ask for a muon pole mass. The mass that he gets in `munuSSM` using param card distributed with `FlexibleSUSY` is 0.114038 GeV. This shifts the calculated value of `g-2` by 10%. That not optimal ;)

[2019-03-22 12:39] Expander commented on #82
I assume the muon pole mass of 0.114038 GeV is the one calculated by FS, right? If so, is this shift maybe caused by a mixing of the extra states with SM-like particles? If so, then I think this shift belongs to the uncertainty of the muon pole mass calculation in FS:

* Input: muon pole mass M
* From this FS calculates the running muon mass m.
* ... [some RG running etc.]
* FS calculates M again

[2019-03-22 12:46] wkotlarski commented on #82
Exactly! I'm just reporting that this is not what is done. We should change to use the input value.

[2019-03-22 12:47] Expander commented on #82
Definitely!

[2019-03-23 09:48] iolojz commented on #82
Erm... Why do the input muon mass not agree with the FS calculated one? I thought the input values were treated as boundary conditions.

[2019-03-23 10:00] wkotlarski commented on #82
The pole mass calculated at a fixed order in perturbation theory has residual scale dependence.

[2019-03-23 10:11] iolojz commented on #82
Alright, so the input pole mass is used as a boundary condition at the low scale. But we calculate g-2 at the high scale. I guess it makes sense to use the physical input mass then, since it really is just a multiplier of the final result. But you should definitely document it!

[2019-03-23 10:34] SoundSonic1 commented on #82
Why aren't we calculating g-2 at the low scale? Shouldn't we use an effective field theory approach?

[2019-03-23 10:46] Expander commented on #82
g-2 is calculated at the geometric mean of the charged BSM fermions which contribute at 1-loop level. In this way contributions from those charged particles are resummed, which is a good thing as these particles usually give a large contribution.

Btw., it is not only the different scale which leads to the deviation of the input muon pole mass and the one calculated by FS. During the whole calcula

[2019-03-24 18:27] #82 closed

[2019-03-25 09:12] SoundSonic1 opened #86 "Use constexpr for constants in ew_input.hpp"
Is it possible to declare the numerical constants in the `ew_input.hpp` file as `constexpr` instead of `const`?

[2019-03-25 09:13] Expander commented on #86
Good idea! Would you mind providing a patch?

[2019-03-25 09:19] SoundSonic1 commented on #86
Yes, i can do that. There are a few constants that depend on `sqrt`. They will be left out unless someone creates a `constexpr sqrt_helper`.

[2019-03-25 09:25] Expander commented on #86
I think that's ok for the moment.

[2019-03-25 10:40] #86 closed

[2019-04-12 13:56] wkotlarski commented on #64
I'd like to continue the discussion on the implementation of other loop libraries. I'm in favor of being able to switch loop libraries at run time. What comes to my mind is something along the factory design pattern. Anyone has anything against it? @Expander might object because of virtual dispatch.

[2019-04-18 11:27] wkotlarski commented on #64
Here's a prefilimenary idea for an abstraction layer for one-loop libraries. For simplicity, imagine that there's only one loop function, called `B0` that doesn't take any arguments. Then the loop interface could look like
[code]
The function `get_library` returns a pointer to a one loop library, e.g.
[code]
After that, the `B0` function can be called as `lib->B0()`. The `FlexibleSUSY` will not ca

[2019-04-18 11:47] Expander commented on #64
Thanks for the draft!

Some technical points:

* I don't like the idea of passing ownership of the library type to the user via `get_library()`. One better option would be to return a `std::uniqe_ptr`.
* Returning a pointer would be meaningful only if you want to store the library for later usage and/or you want to express that the result could be `0`. Do we want this behaviour? If not, an alterna

[2019-04-20 11:42] wkotlarski commented on #64
This is clearly not my are of expertise. The first bullet point could be addressed like so
[code]
If i understand correctly, the advantage is that we will not be able to make a copy of this pointer. But i guess you'd rather have this singleton so that there's only one object at all.

Points 3 & 4 are up for discussion. We could handle it at configure level and then just secure it by throwing an ex

[2019-05-29 18:59] Expander opened #103 "test_linalg2.cpp fails with boost 1.70.0"
The `test_linalg2.cpp` fails when compiling with boost 1.70.0.
[code]
I'm not sure what' going on. @jhyeon would you mind having a look please?

[2019-05-31 20:02] wkotlarski opened #104 "progress counter for the compilation"
Would be great if we could show to the user how many files are left to compile. @Expander, what do you think? Is it even possible with the way how the makefile works?

[2019-05-31 20:38] Expander commented on #104
Good idea! I've found this hint, which uses pure make and shell features:
https://stackoverflow.com/questions/451413/make-makefile-progress-indication/455390#455390

[2019-06-01 10:52] wkotlarski opened #106 "function ParticleQ is broken"
@uukhas found that the function ``TreeMasses`ParticleQ`` does not what it's suppose to. For example in the `SM` `GetParticles[]` gives
[code]
but
[code]
There's also a problem with conjugation
[code]
The silver lining is that this function was never used.  Should we fix it or remove this function altogether?

[2019-06-01 22:42] Expander commented on #106
Many thanks for reporting!

As far as I can see, there is no equivalent function. For this reason, I'd propose to fix it (not remove it). I'll prepare a fix.

[2019-06-02 07:23] jhyeon commented on #103
Fixed by PR #105.

[2019-06-02 07:23] #103 closed

[2019-06-02 07:47] wkotlarski commented on #106
[code]
returns
[code]
Is this what you want?

P.s. @uukhas, does this function do what you want now?

[2019-06-02 18:45] #106 closed

[2019-07-06 08:28] wkotlarski opened #110 "compilation of test_linalg2.cpp uses 4 GB of memory"
@Expander, is this fine?

[2019-07-06 11:00] Expander commented on #110
It is certainly a problem. It is one of the reasons why the nightly tests sometimes crash the test machine.

@jhyeon is there a way to reduce the memory used during compilation?

[2019-07-06 11:05] jhyeon commented on #110
Sorry for the troubles.  Let me rewrite it so that it compiles consuming less resources.

[2019-07-16 15:59] #110 closed

[2019-07-17 12:08] wkotlarski opened #113 "warnings from npointfunctions and cxxdiagram tests"
There are annoying warnings coming from building
[code]
One is
[code]
and the other one is
[code]
I'd like to fix it cause it annoys me. Can anyone confirm that you're seeing the same thing?

[2019-07-17 12:26] Expander commented on #113
Yes, I'm seeing the same thing. Some of the messages may come from the request to calculate some observables of particles that don't exist.

[2019-08-01 20:08] uukhas commented on #113
@wkotlarski, I have rewritten tests some weeks ago, as well as this transpose message. I will write the explanation soon.

[2019-08-19 21:24] wkotlarski opened #115 "error in generation of MomentumDifferenceVertex vertices"
@uukhas, @Expander: There seems to be a problem with SSV vertices when both scalars are identical. The generated vertices look, for example, like this

[code]

This then causes a runtime error because we never call a vertex with 00 combination. Those vertices work fine for complex scalars so I'm guessing the error is in part of @iolojz code that looks for a position of a field in SARAH vertex. If

[2019-08-20 19:24] wkotlarski opened #116 "why do we need our own abs function"
Super small thing. In file `numerics.cpp` we define a function `dabs`. Why do we need it? Seems that in `c++14` `is_zero` function works equally well with `std::abs`. Am I missing something?

[2019-08-20 21:28] wkotlarski commented on #115
@Expander, @pathron, I talked with @uukhas. There's a decision to be made. Should we ever write to `c++` code vertices which are identically `0` or should we force 'users' of vertices to not generate diagrams which will be obviously 0. The problem that @uukhas encountered was cause by some old code which did generate some diagrams but did not remove ones which where 0 so then it requested vertices

[2019-08-21 04:41] Expander commented on #115
Many thanks for investigating!

In my opinion we should avoid such code to be generated in the first place, because then the compiler has less work to do.

Would you mind preparing a patch to achieve that?

[2019-08-21 04:46] Expander commented on #116
I've created this function in order to have a `constexpr` `abs` function, which thus is a "pure" function and can be optimized away by the compiler. To my knowledge `std::abs` is not constexpr, and so I don't know whether the compiler will recognize it as a "pure" function.

[2019-08-21 04:53] pathron commented on #115
Yeah i agree with Alex that the old code should be patched to avoid generating such diagrams. if this is possible in all cases we should just do that.

[2019-08-21 08:47] wkotlarski commented on #116
I've also read that `std::abs` is not `constexpr`. That's why I'm surprised why am I allowed to use it inside of a `constexpr` function.

[2019-08-21 17:14] wkotlarski commented on #115
Do we have a function that checks if vertex is identically 0? If not, then I propose to have a function `VertexZeroQ` with signature `VertexZeroQ[fields_List]` that `SortCp` fields and then checks for 0 depending on the type of fields. This will be slightly messy because `SARAH` doesn't have fixed format for vertices. So `FFV` vertex has to be checked differently than the `SSS` one and so on. Afte

[2019-08-23 09:07] wkotlarski commented on #64
@uukhas wants to have an access to Collier so this issue becomes urgent. I've implemented a working call to C00 function in a3c8fe7976b2727e55d7190252535c01a8ee91d6. The interface idea is as we discussed above There are two intermediate levels: the fortran 2003 module that prepares Collier functions to be called from c++ and an actual c++ `Collier` class that inherits from `Loop_library_interface`

[2019-08-23 13:14] wkotlarski commented on #64
For completeness:

The fortran interface can be compiles as
[code]
And add to LOOPFUNCLIBS in `Makefile`
[code]

[2019-08-23 21:00] Expander commented on #116
What you see could be valid, see
https://stackoverflow.com/questions/47726503/calling-non-constexpr-function-from-constexpr-allowed-in-some-conditions

However, I'd prefer to call the `constexpr` function in order to give the compiler more information to optimize the code.

[2019-08-30 12:54] #116 closed

[2019-09-19 00:39] dhjjacob commented on #115
@wkotlarski @Expander @pathron There seems to be an additional issue with the generation of indices for the SSV vertex.  Specifically, when dealing with a vertex stuctured as `{conj[Sp],Sp,VP}`, where `Sp` is the incoming scalar, and `conj[Sp]` is the outgoing scalar.

FlexibleSUSY searches for the position of the incoming and outgoing scalar fields using the Position[] function.  The position min

[2019-09-19 08:26] wkotlarski commented on #115
I think I've already patched that (just not on the upstream). Can you check this commit
21d2d7e0201132ae2428544782ee67e68f801402

[2019-09-20 00:09] dhjjacob commented on #115
Hi @wkotlarski, that seems to solve the issue.  Thank you for patching this.

[2019-09-26 10:05] wkotlarski commented on #113
This is now partially solved. What I'd still like to know is

1. Where does this warning come from and can it be eliminated
[code]
2. Can we do something with this one
[code]

[2019-10-03 10:46] uukhas commented on #113
@wkotlarski,

1. Set of messages comes from every place where ```SARAH`MassMatrix``` (or, more precisely, ```SARAH`ShowMassMatrix[y,True]```) is called.

Right after initialization I got messages, similar to yours because of  ```TreeMasses`ConvertSarahMassMatrices[]``` call, when one of the mentioned above functions is called.

2. It might come from `NPointFunctions` routines. It seems for me that

[2019-10-27 22:30] wkotlarski opened #125 "tests using FormCalc fail with FormCalc 9.6"
Can someone confirm it and if yes, should we bump the required version of FormCalc? @uuksha, can you take a look?

[2019-10-31 05:39] dhjjacob opened #126 "Overwriting of FlexibleSUSY names from SARAH files enhancement"
Currently, when using the template files to build a model, as I understand FlexibleSUSY looks through the code and replaces instances of Weyl spinor names by their corresponding Dirac spinors.

For example for the BLSM:
`DEFINITION[EWSB][DiracSpinors]={
 Fd ->{  DL, conj[DR]},
 Fe ->{  EL, conj[ER]},
 Fu ->{  UL, conj[UR]},
 Fv ->{  VL, conj[VL]}};`
instances of code with the name VL, DL, are repl

[2019-11-01 08:23] wkotlarski commented on #126
Could this be solved by generating a unique name using ``Unique`` function?

[2019-11-04 14:09] uukhas commented on #125
Dear @wkotlarski, dear @Expander,
FormCalc 9.6 (FC9.6) has the following lines of code inside FormCalc.m
[code]
This command tries to get FC directory and sometimes it fails. Inside FC9.9 this command is replaced by a new one which works succesfully more often.

There are following **possible solutions** to this problem:

1. Patch lines 2101-2102 of FormCalc.m after installation of FC9.6
2. Improv

[2019-11-04 18:51] wkotlarski commented on #125
What's the point of having a requirement FromCalc version >= 9.6 if anything bigger than 9.6 doesn't work? Shouldn't we just say that FlexibleSUSY works only with version 9.6?

[2019-11-12 14:08] uukhas commented on #113
@wkotlarski,
The solution to "mass matrix" is found. One has to use ```FlexibleSUSY`Private`PrepareUnrotatedParticles```

[2019-11-12 22:55] wkotlarski commented on #113
[So close...](https://github.com/FlexibleSUSY/FlexibleSUSY/files/3838584/vova.txt)

[2019-11-12 23:02] uukhas commented on #113
Dear @wkotlarski, there is a problem with FormCalc on your PC. One should change the lines of **FormCalc.m**
[code]
to
[code]
This is correlated with #125.

[2019-11-13 12:28] wkotlarski commented on #125
Cherry on top - FormCalc 9.6 does not work with Wolfram Language 12.

[2019-11-13 12:29] #113 closed

[2019-11-13 13:45] wkotlarski commented on #76
This works now for me with mathematica 12. @uukhas is trying to confirm it. If yes, we could close it and accept that one has to upgrade from mathematica 11.

[2019-11-21 10:39] wkotlarski opened #128 "multiprecision version of FlexibleSUSY"
Gajdosik's student @TehMeh created a multiprecision version of FlexibleSUSY. It uses boost's multiprecision library. For now it works for Grimus-Neufelt model but there is no reason why it shouldn't work for any model. The precision is chosen statically. I believe it's very interesting and should be integrated into FlexibleSUSY.

[2019-11-27 13:03] wkotlarski opened #129 "specify separate number of threads for meta and compilation phases"
Would it be possible to have it? Also, we could check if the requested number of cores for the meta phase is `<= $MaxLicenseProcesses`.

[2019-12-05 16:51] wkotlarski opened #130 "tests_ckm fails to compile with clang"
[code]
@uukhas confirms this error. On top of that he also gets some other error. I'm using clang version 9.0.0.

[2019-12-08 12:20] wkotlarski commented on #76
Should we close it?

[2019-12-08 17:05] uukhas commented on #76
I finally checked this model. It compiles with Mathematica 12

[2019-12-09 00:11] pathron commented on #76
That’s great.  Let’s close this.

[2019-12-09 00:11] #76 closed

[2019-12-13 16:01] Expander commented on #130
Many thanks for raising this issue!

Can one reproduce this error also with an older clang version, such as clang 7.0?

[2019-12-13 16:44] Expander commented on #130
fixed in commit 471580233

[2019-12-13 16:48] #130 closed

[2019-12-14 10:53] Expander opened #132 "SUM() macro produces NaNs when summing Eigen vectors"
I compile FS with clang++ 7.0.1-8 (tags/RELEASE_701/final) on Debian Buster like so:
[code]
The following test fails with this configuration:
[code]
The output is:
[code]
I.e. the SUM() macro produces an Eigen vector with NaNs.

[2019-12-18 09:57] Expander opened #133 "make test shall return an exit code"
For the CI tests the following behavior of `make test*` would be convenient:

* executing a single test via `make` should return an exit code indicating whether the test has failed or passed:
* executing all tests via `make` (targets: `all-test`, `execute-tests`, `execute-meta-tests`, `execute-shell-tests`, `execute-compiled-tests`) should return an exit code indicating whether one (or more) tests

[2019-12-18 10:08] Expander commented on #133
# Proposal 1
In the branch feature-test-exit-code2 I've implemented a first proposal to address the raised points:

* For each individual test `make` returns the exit code of the test. This is achieved by the function `write_test_result_file()` which returns the exit code of the test

This change leads to a changed behavior when running all tests via `make`: As soon as one test fails, `make` stops

[2019-12-18 13:03] wkotlarski commented on #133
I think it's fine. Also, in case of test, all of them should pass. So even if it fails on first error, it's still fine.

[2019-12-18 22:56] wkotlarski commented on #133
@Expander I'm not sure if it works as expected. There was no change in tests [output](https://github.com/FlexibleSUSY/FlexibleSUSY/runs/354794492).

[2019-12-19 08:11] Expander commented on #133
Sorry, my fault. I did merge the wrong branch. I've now corrected the mistake.

[2019-12-19 16:09] #133 closed

[2019-12-27 20:04] wkotlarski opened #136 "Unit tests action fails on pull request"
Error message:
[code]

[2020-01-02 16:15] Expander commented on #132
The issue seems to be that `is_eigen_type<T>::value` yields true for `Acc`, but false for `Evaled`, although both types are identical:
[code]
In particular, the following commands
[code]
yield:
[code]

[2020-01-04 11:26] Expander commented on #132
@jhyeon Are you ok with fix 4cd31ea ?

[2020-01-04 22:45] wkotlarski commented on #136
This should now be fixed. I'm waiting for a next pull request to check if it works as expected.

[2020-01-04 22:49] Expander commented on #136
What was the issue?

[2020-01-04 23:12] wkotlarski commented on #136
The problem was that I was assuming that the repo name is `FlexibleSUSY`. For pull request, this is not true. We now use predefined github action to handle cloning of the appropriate repo and then mount it under the docker image. it should work not only for pushes and pull requests and is also nice cause there is less hand written code.

[2020-01-07 10:55] uukhas opened #139 "scan-slha.sh fails on Ubuntu"
Instead of numbers in the output I get

    MINPAR[3]         MASS[25]          YU[2:2]
            -                -                -
            -                -                -
            -                -                -
            -                -                -
            -                -                -

@Squarkfinder also had this problem and he suggested the working soluti

[2020-01-07 11:23] Expander commented on #139
Many thanks for the bug report!

Do you know if the vanilla version of ubuntu has another version of `awk` installed? Or is `awk` not available in the vanilla ubuntu at all?

[2020-01-07 11:31] uukhas commented on #139
@Expander, I have the default desktop Ubuntu 18. About vanilla version I do not know.

[2020-01-07 12:01] Expander commented on #139
Have you `mawk` installed for example?

[2020-01-07 12:56] uukhas commented on #139
Yes I have.

[2020-01-07 19:05] Expander commented on #139
Thanks for the info, I'll prepare a fix.

[2020-01-09 17:11] #139 closed

[2020-01-13 11:13] #132 closed

[2020-01-21 15:14] uukhas opened #140 "Loop library interface"
@Expander, @wkotlarski,

Currently I am working on unique library interface, which will allow to use different loop libraries by setting up (new) entry number 31 of FlexibleSUSY Block in LesHouches file. It will lead to a (possibly) huge amount of the code changes everywhere. Because of this I was suggested to create this issue to open a discussion about things I will change.

Currently (21.01.202

[2020-01-23 14:29] uukhas opened #141 ""ar" is complaining"
During evaluation of `make` command among standard `Building <something>` there are a lot of messages from `ar`:
   ```ar: `u' modifier ignored since `D' is the default (see `U')```.

In order to remove it one can change the default setup in `configure` file from
   ```STATIC_LIB_CMD="ar cru"``` to ```STATIC_LIB_CMD="ar cruU"```.

[2020-01-24 13:07] Expander commented on #141
Thanks for the hint!
fixed in a94f5bf64020e

[2020-01-24 13:07] #141 closed

[2020-01-27 10:54] wkotlarski opened #142 "FormCalc cannot get SystemID"
`FormCalc` installation in actions sometimes fails. I'm not sure why it happens. For now the solution is to restart tests manually.

[2020-01-27 10:55] #136 closed

[2020-01-27 14:21] wkotlarski opened #143 "cannot find Wolfram Engine license on pull request"
Secrets are not shared with a fork for security reasons. Therefore, pull request from repos other than `FlexibleSUSY/FlexibleSUSY` are failing. It's possible to add conditions on actions but for the moment I don't know how to get the name of the repo from which the pull request is coming.

[2020-02-11 20:17] wkotlarski commented on #143
This was hopefully solved in 21f6c88c5699efc059c3b39c66a25376e9b84a11. I'll wait with closing it to see if it actually works.

[2020-02-26 09:54] #143 closed

[2020-02-26 12:40] wkotlarski opened #150 "MSSM_2L_limits test fails on openSUSY Tumbleweed"
The error message is
[code]
Does anyone know what can be the cause of this? Or how to debug it? It works for @uukhas on Ubuntu 18.04 and on openSUSY Leap. Maybe it's because Tumbleweed has newest versions of packages?

[2020-02-26 13:00] Expander commented on #150
Can you please print the verbose output by running
[code]
?

I think this test is not crucial. It checks numerically some limits of the exact 2-loop routines from Pietro Slavich against the proper implementation of these limits in FS. Since the test works in a divergent region, it is not completely surprising that it fails.

However, the precise reason for the failure may point to some numerical i

[2020-02-26 13:12] wkotlarski commented on #150
Here's the output you asked for [test_MSSM_2L_limits.log](https://github.com/FlexibleSUSY/FlexibleSUSY/files/4255844/test_MSSM_2L_limits.log). I don't change compiler flags (so no `-O3` or `-fast-math`).

[2020-02-26 13:21] Expander commented on #150
I see the following:
[code]
On my machine I get:
[code]
From looking into that is tested, I see that it is the function `self_energy_higgs_2loop_at_at_mssm_with_tadpoles`.  This function directly calls the Slavich routines `ddshiggs_`. Inside `ddshiggs_` there are checks to not run into the divergent limits. It seems that these checks don't quite work on Tumbleweed.

So, I now believe the issue ha

[2020-02-26 13:22] Expander commented on #150
Or, it may be that the Fortran code is optimized in such a way that the instability is more visible.

[2020-02-26 13:38] wkotlarski commented on #150
I use gfortran version 9.2.1

[2020-02-26 14:26] Expander commented on #150
OK.

I think this test should be fixed by decreasing the test precision, because it is obviously sensitive to numerical cancellations, which again are sensitive to the chosen compilers/flags/...

[2020-02-26 19:39] wkotlarski commented on #142
The immiadiate source of the error is the line
[code]
from `FormCalc`'s `compile` script.

[2020-02-26 21:49] Expander commented on #142
Interesting. Do you know what exactly is going wrong with this command?

[2020-02-27 10:02] wkotlarski commented on #142
No sure. For now I've added a test if `wolframscript` and `math` commands are working the moment we set up wolfram engine on the image.

[2020-02-27 10:11] wkotlarski commented on #142
I've reinstated tests with `LoopTools`. For now everything seems to work.

[2020-02-27 10:13] #142 closed

[2020-03-01 02:04] wkotlarski opened #151 "database tests run even without sqlite"
Even when `configure` doesn't find sqlite
[code]
`make all-test` runs `test/test_CMSSM_database.x` even though it shouldn't as `test/module.mk` says
[code]

[2020-03-03 20:04] Expander commented on #151
Can you please paste the output of `make showbuild` here? If it shows
[code]
then there is a bug in the `configure` script.

[2020-03-03 20:08] Expander commented on #151
Anyway, I think I've found the issue. it should be fixed in commit 4751cd888285

[2020-03-04 06:29] wkotlarski commented on #151
Thanks for the fix. Closing.

[2020-03-04 06:29] #151 closed

[2020-03-18 12:11] uukhas opened #152 "Unexpected behavior of DecreaseIndexLiterals"
``Parameters`DecreaseIndexLiterals`` has the following potential problem (it comes from ``Parameters`IncreaseIndexLiterals``):

[code]
leads to
[code]
instead of
[code]

Also, the following call:
[code]
leads to
[code]

So, the problem is that in ``head@head@integer`` expressions numbers are not always decreased, which potentially can be dangerous.

If we do not expect this form of a call, then th

[2020-03-18 21:30] wkotlarski opened #153 "tests needing library link are run even with --disable-librarylink"
For example
[code]
runs library link tests whether or not one configures with `--disable-librarylink`

[2020-03-18 23:06] uukhas commented on #153
@wkotlarski, there is a variable ``ENABLE_LIBRARYLINK``.

[2020-03-18 23:37] wkotlarski commented on #150
fixed in 14d096cbd1e7729fb9d5e9beb5cfe7b43465d5ba

[2020-03-18 23:37] #150 closed

[2020-03-18 23:40] Expander commented on #153
You are both right, these tests should be protected by `ENABLE_LIBRARYLINK`.

[2020-03-18 23:47] wkotlarski commented on #153
Ok, I'll fix that.

[2020-03-19 08:20] wkotlarski commented on #153
Could someone check `fix-librarylink-test` branch in main repo that I've created? It should be fine but it doesn't work and I have no idea why :(

[2020-03-19 09:54] Expander commented on #153
Many thanks for attempting to fix the issue!

On my machine, your fix works as expected. I've run
[code]
The following CMSSM tests are run:
[code]
In particular, the test that you've protected as:
[code]
are not run.

[2020-03-19 11:10] wkotlarski commented on #153
Ok. I was confused because if you run
[code]
then the test is run. For some reason I though that those `if`'s influence both `make all-test` and `make test_name` in the same way. So that in later case the `make` would report that there's nothing to do. I'll make a pull request.

[2020-03-19 15:00] wkotlarski commented on #153
fixed in c4bc59bfdf44f0bbc0b724960b0619e3dc372893

[2020-03-19 20:40] wkotlarski opened #156 "passing tests report FAILED"
On my PC some tests which work fine (see [test_SM_matching_selfenergy_Fd.x.log](https://github.com/FlexibleSUSY/FlexibleSUSY/files/4356802/test_SM_matching_selfenergy_Fd.x.log)) generate the following error
[code]

[2020-03-19 21:06] Expander commented on #156
Do you get this error only when using LoopTools?

Quite often this error is caused by writing beyond the end of a buffer/array. Can you please run this test with valgrind?
[code]

[2020-03-19 21:16] wkotlarski commented on #156
Here's the [log](https://github.com/FlexibleSUSY/FlexibleSUSY/files/4356953/valgrind.log)

[2020-03-19 21:23] Expander commented on #156
Hmm, that does not say much, unfortunately.
Would you mind compiling with debug symbols and run the test again (w/ and w/o valgrind)?
[code]

[2020-03-19 22:07] wkotlarski commented on #156
This doesn't change the output :(

[2020-03-19 23:06] Expander commented on #156
Is the valgrind output the same, too? :/

[2020-03-22 14:10] uukhas opened #157 "SLHA FlexibleSUSY block entries"
If one defines in SLHA input file incorrect values for some parameters of FlexibleSUSY block entries, like 7 or 13, then the program is evaluated and results are returned without even a notification of a problem.

It seems that if a default value is set up, then *the program* should write some warning or throw an error.

[2020-03-23 18:32] uukhas opened #159 "Possiblly wrong loop function calculation"
During preparation of a unit test for loop library interface I randomly have chosen a point, which surprisingly gave different (wrong) number for `softsusy` library:

[code]
but for `COLLIER`, `Looptools` and  `Package-X` the output is `3.64808`.

[2020-03-24 11:08] Expander commented on #159
Many thanks, I'll fix that!

[2020-03-24 11:17] #159 closed

[2020-03-30 18:37] wkotlarski opened #166 "disable decay calculation if not using loop library"
@Expander, @uukhas. I need to set a variable in `FlexibleSUSY.m` depending on whether a code was configured with or without dedicated loop library. Is that possible?

Here's some background: Decays require dedicated loop library. Whether decays are calculated or not is controlled by `FSCalculateDecays` variable in  `FlexibleSUSY.m`. Even if the user sets `FSCalculateDecays = True` I need to overri

[2020-03-30 19:22] Expander commented on #166
Out of my head I see the following option:

* The `configure` script copies the `FlexibleSUSY.m.in` file to the model directory. In this step, some tags are replaced, for example `@CLASSNAME@`.

* The function `update_model_makefiles()` modifies the model's `module.mk` file to replace/extend some functionality, based on the variables set in the `FlexibleSUSY.m.in` file.

These two points do someth

[2020-03-30 20:14] wkotlarski commented on #166
@Expander, sorry for a dumb question. But isn't `@CLASSNAME@` modified by `createmodel` script? That doesn't do the trick since at that point I don't know if I have `LoopTools` or not.

[2020-03-31 08:17] Expander commented on #166
Sorry, I was dumb. Of course `@CLASSNAME@` is replaced in `createmodel`.

What I actually wanted to say is, that in the `configure` script there is a mechanism to load the model-specific `FlexibleSUSY.m` file into a Mathematica session. I was naively thinking, that one could use this mechanism to modify the `FlexibleSUSY.m` file.

But wait, I've discussed a cleaner mechanism with @uukhas here: htt

[2020-03-31 09:29] wkotlarski commented on #166
Is `models/<model>/FlexibleSUSY.m` file created during `createmodel`. If yes, what happens when you do 2 `configure` with different options?

[2020-03-31 09:35] Expander commented on #166
Yes, `models/<model>/FlexibleSUSY.m` is created by `createmodel`.

With my proposal (appending a line to `models/<model>/FlexibleSUSY.m`) there would be no inconsistency when `configure` is called multiple times with different options. This is because appending the line overwrites the setting of the previous one:
[code]

The reason why this works is the order in which we require the user to call t

[2020-03-31 09:36] wkotlarski commented on #166
For me that would solve all problems then. Is anyone working on it?

[2020-03-31 09:47] Expander commented on #166
I'm currently not working on this.

Also, it appears to me that this approach should be extended to also add a line indicating whether FA/FC are available, for example as:
[code]
This would avoid an ugly hack in PR #148 from @uukhas ;)

[2020-03-31 09:48] #157 closed

[2020-03-31 15:41] uukhas commented on #166
@Expander, then I have question. There are two ways how to deal with `FA+CF`:
1) One can modify the `FSObservables` by adding `FToFConversionInNucleus` if `FSFeynArtsAvailable === True` and `FSFormCalcAvailable === True`. But then one has to change the way `meta/Observables.m` is loaded, because currently it is loaded before any variable of mentioned before takes an effect. So one can just remove

[2020-03-31 18:15] Expander commented on #166
Hi @uukhas ,

I like your will to make `Observables.m` elegant again! Great word joke! :D

TBH, it is not clear to me which approach is better ATM. You are right, modifying `FSObservables` only once is a great benefit. Do you think this would work smoothly? I'm asking, because `Observables.m` requires/loads other modules as well and it is not clear to me ATM in which way they are affected in case

[2020-03-31 18:33] uukhas commented on #166
Yes, it will work OK, because `Mathematica` does **not** reload modules, which are already loaded. Everything else is loaded before in `meta/FlexibleSUSY.m`, so all dependencies should be fine.

I already did this "lasy" `Needs` in the `meta/FlexibleSUSY.m` for ``NPointFunctions` `` and ``WilsonCoefficiens` `` packages (lines `3722-3733`) in #148 and it works fine.

I will write a code with these

[2020-04-01 16:41] uukhas commented on #166
This information, actually should not be mentioned in this issue, but as an answer to a quoted question I would like to note that this is done with 20cf298.

[2020-04-01 17:46] wkotlarski commented on #166
Could you also tell me how to secure tests? I have to compile and run `FlexibleDecay` tests **only if** FS was compiled with extra loop libraries. I could use `$ENABLE_LOOPTOOLS` variable but this is not very generic.  Is there an idea how this should be handled?

[2020-04-01 17:53] uukhas commented on #166
@wkotlarski, it seems that you need some additional variable `$EXTRA_LOOP_LIBRARY` and then, depending on the selection criteria on configured libraries (whether they can be called extra ones or no), you can secure test with it, right?

Why not just to check all required `$ENABLE_`s directly it tests?

[2020-04-01 18:22] wkotlarski commented on #166
Sorry, now that I think about it, there's more to it than that. Since I've introduced a variable `FSCalculateDecays` I need to have access to it's values in tests. Because I might configure SM with loop libraries without decays. Then I shouldn't run `test_SM_FlexibleDecay` at all.

[2020-04-01 19:53] uukhas commented on #166
@wkotlarski, do you setup `FSCalculateDecays` via `configure`?

If yes, then you might like to add something like `CALCULATE_DECAYS := @CALCULATE_DECAYS@` in the beginning of `config/Makefile.in` and modify then `configure`'s function `replace_markers()` to replace `@CALCULATE_DECAYS@` with `yes` or `no`.

[2020-04-01 20:01] wkotlarski commented on #166
No. `FSCalculateDecays` is read from `FlexibleSUSY.m.in`.

[2020-04-02 08:09] Expander commented on #166
Hmm, can you read the `FlexibleSUSY.m` file from the model under consideration? Would that help?

[2020-04-02 13:06] Expander opened #171 "make install-src creates inconsistent source tree"
The source tree exported by the `make install-src` command is inconsistent:
[code]
I get the following error messages when running `make` inside the `install` directory:
[code]
It seems that source from the `cxx_diagrams` sub-module are missed from being installed.

Btw, the following should be a successful (approximately) infinite loop:
[code]

[2020-04-02 17:48] wkotlarski commented on #171
I cannot even do `./configure` in install
[code]

[2020-04-02 23:50] uukhas commented on #171
I will look at this, but currently I absolutely have no idea what can go wrong, because I never used these options.

What does `install-src` do?

[2020-04-03 07:04] Expander commented on #171
Hi @uukhas , sorry, I was not aware of that. I'll prepare a patch to the configure script and maybe you can have a look at it?

@wkotlarski : Would you mind looking at the concerning the `cxx_diagrams`?

[2020-04-03 07:16] Expander commented on #171
@uukhas `make install-src` creates a directory (specified via `--with-install-dir=`) and copies the generated FS source code to that folder. In that folder one will find a working FS version, but without the meta code and the tests.

This is in particular useful if you want to create a standalone FS version with pre-generated models without requiring Mathematica, FeynArts, FormCalc. For example yo

[2020-04-03 07:57] wkotlarski commented on #166
I will show you my solution later but in short I've created a file `test/FlexibleDecay.mk.in` where i set `ENABLE_FLEXIBLEDECAY := yes` and then include it in `test/module.mk` and control tests though `ENABLE_FLEXIBLEDECAY` variable.

[2020-04-03 09:18] wkotlarski opened #173 "observables where no output is generated"
Is it correct that the calculation of observables in `run_MODEL.cpp` happens even if no spectrum is generated? It seems that there's no safeguard.

[2020-04-03 09:41] Expander commented on #173
You are right, this is bad.

What about testing for `calculate_sm_masses` and `calculate_bsm_masses`?

[2020-04-03 12:24] wkotlarski opened #174 "model found... sike!"
[code]

[2020-04-03 12:35] Expander commented on #174
Thanks for the hint. The following works of course:
[code]

[2020-04-03 12:36] #174 closed

[2020-04-03 12:43] wkotlarski commented on #173
Your the expert but I think it's not a good idea. The problem I encountered was - imagine a point which fails, because a coupling gets non-perturbative or something. The spectrum is not calculated but the decays are and then the code complains because masses are 0 as they were never initialized. So even if  `calculate_sm_masses = true` this will still fail.

[2020-04-03 13:08] Expander commented on #174
Initially, I've designed it to be like that:

* The user creates a FS model with some name M
* By default FS assumes that there is a corresponding SARAH model with the same name M.
* If there is no such corresponding SARAH model or another SARAH model should be used, the user has to explicitly say which SARAH model to use (using `FSDefaultSARAHModel`).

Initially this had the advantage that the FS

[2020-04-03 13:12] Expander commented on #173
You are right! Then we should extend the logic and do something like the following (pseudo-code):
[code]

[2020-04-03 13:18] wkotlarski commented on #174
Ah, ok. I wasn't even familiar with `--sarah-model` options. Thanks!

[2020-04-03 22:53] wkotlarski commented on #173
Is everyone ok with solution #175?

[2020-04-04 18:17] Expander opened #176 "Meta code is run every time after `configure`"
I've noticed that our recent change, where the `configure` script updates the `models/<model>/FlexibleSUSY.m` file, leads to an inconvenience: It implies that each time
[code]
is called, `make` executes the Mathematica meta code.

This is  very inconvenient, because it leads to a re-generation of the model-specific C++ code each time, which can take very long. Furthermore, it increases the overall

[2020-04-05 00:05] wkotlarski opened #178 "cannot enable observables in BLSM"
`BLSM` generates non zero `Ah`, `hh`, `VP` vertex of value
[code]
This breaks `g-2` calculation where we assume that in a triangle with photon emitted from scalar in the loop the scalar does not change its type.

[2020-04-05 11:12] #140 closed

[2020-04-05 13:30] Expander commented on #178
I'm not an expert on the `BLSM`, sorry. In which way does it "break" the (g-2) calculation? Do you mean that the (g-2) result does contain genuine SM contributions, which must not be there in our BSM result?

[2020-04-05 14:19] #176 closed

[2020-04-05 14:20] Expander commented on #173
Please see my comment on PR #175.

[2020-04-05 20:09] wkotlarski commented on #178
The assumption in the code is that massless gauge boson couple diagonally. Also, superficially, we just have a coupling of photon to uncharged particles `hh` and `Ah`. I would hope that numerically this coupling vanishes.

[2020-04-07 03:08] wkotlarski opened #181 "Weird vertex of SMSU3"
In `SMSU3` there's a following vertex
[code]
There are fields with duplicated color index. Is that ok? Because of that the current algorithm evaluating color factors for diagrams would evaluate such vertex to 0 since
[code]
as generators are traceless.

[2020-04-07 07:29] Expander commented on #181
Yes, that may be, but there's no need to worry. :) The SMSU3 is a testing model that I've created to test the calculation of gauge coupling threshold corrections. So, it is no physically viable model and there may be inconsistencies.

[2020-04-07 10:45] wkotlarski commented on #181
Thanks!

[2020-04-07 10:45] #181 closed

[2020-04-11 10:37] wkotlarski opened #184 "compilation time of MSSM with library-link with clang"
Can someone check how long does it take to compile MSSM with library link using clang? It takes very long on my PC. Much longer than with gcc.

[2020-04-11 11:38] uukhas commented on #171
@Expander, the problem comes from `install` command. In some places in the code there is something like:
[code]
and this `file` is not copied! only
[code]
works appropriately.

I will make a PR for PR #172 in order to fix this somehow.

[2020-04-11 11:51] Expander commented on #184
Same here. Also look at how large `libMSSM.a` is! :)

[2020-04-12 14:56] #171 closed

[2020-04-12 15:48] Expander commented on #65
This problem is now fixed when installing LoopTools via `conan`.

[2020-04-12 16:00] #65 closed

[2020-04-13 20:28] Expander opened #186 "Undefined reference errors from cxx_diagrams"
I get various `undefined reference` errors when building the CMSSM w/o optimization as:
[code]
Error:
[code]

[2020-04-14 11:18] uukhas commented on #186
@Expander, for me similar problem appeared after changing the code in #185 and immediate applying of usual
[code]

It seems, that the problem is that `./createmodel -f` does **not** delete `C++` leftovers from previous time in `models/<MODEL>`.

When I did
[code]

everything worked.

[2020-04-14 11:51] Expander commented on #186
That works, thanks!

[2020-04-14 11:51] #186 closed

[2020-04-16 21:30] wkotlarski opened #189 "line shift in test_CMSSM_librarylink_slha"
If someone has a moment, could you look at the test `test/test_CMSSM_librarylink_slha.sh` on `FlexibleDecay-merge_upstream2`. I'm not sure why it fails. I think that some lines are shifted.

[2020-04-20 08:27] Expander commented on #184
Has the compilation time be reduced now, or is it still very long? I've found that with some clang version the `.o` files are enormously large (~10 GiB), which may be the cause.

[2020-04-20 12:15] wkotlarski commented on #184
Largest files from clang
[code]
Largest files from gcc
[code]
The compilation time is more or less the same.

[2020-04-20 15:38] Expander commented on #184
Ok, clang has obviously a problem here.

Do you know which are the files that take longest to build?

[2020-04-20 15:50] wkotlarski commented on #184
Right now the compilation time is comparable between clang and gcc. I don't think any of the files take significantly longer than other one.

[2020-04-21 14:02] Expander commented on #189
should be fixed now.

[2020-04-21 14:14] wkotlarski commented on #189
Oh, thanks a lot. That was simple. Sorry about that.

[2020-04-21 14:14] #189 closed

[2020-04-21 22:25] wkotlarski opened #192 "error in test_flexiblesusy-config.sh"
@Expander, in decays we include files from template directory, e.g.
[code]
This works fine except for `test_flexiblesusy-config.sh`, which fails with a following error
[code]
Do you have some advice what to do with it? Maybe you'd like me to move those includes from template?

[2020-04-22 06:56] Expander commented on #192
Yes, please move this "model-independent" code to the `src/` directory. After the meta code has generated the C++ code (using files from the `templates/` directory), the `templates/` directory should no longer be necessary.

But I admit the name `templates/` is a bit misleading. It refers to "meta code templates" and not to "C++ templates".

One other thing, though: Can you please rename the inclu

[2020-04-22 07:15] Expander commented on #192
The other option would be to move the files into `model_specific/SM_decays/h_decays/`, as these corrections seem to be SM-specific. This would probably be a bit cleaner and in the line with the other SM- and MSSM-specific corrections. :)

[2020-04-22 11:51] wkotlarski commented on #192
One thing is that those are not really headers. They contain template specialization which go into `_decays.cpp` file. It basically part of `_decays.cpp` that I don't want to keep in `_decays.cpp` because it makes the file long and unreadable.

[2020-04-22 12:19] Expander commented on #192
I see. What about renaming them to `.ipp` then?

[2020-04-22 12:45] wkotlarski commented on #192
Should I move them to `src` or `model_specific`? These are not specific to SM, only to SM subpart of BSM.

[2020-04-22 13:03] Expander commented on #192
Personally, I'd move them to `model_specific/`, because this seems most reasonable/clean to me.

[2020-04-22 13:05] Expander commented on #192
Note, that you need to add them to the default included modules:
[code]

[2020-04-22 15:11] wkotlarski commented on #192
But this would require creating a `module.mk` file with one-line that adds to include path. Is that what you want?

[2020-04-22 15:40] Expander commented on #192
Yes, that's true. Personally, I don't mind having such an extra `module.mk`.

[2020-04-22 19:35] wkotlarski commented on #192
With this setup `make` tries also to create `model_specific/sm_h_decays/libmodel_specific_sm_h_decays.a`.

[2020-04-22 19:42] Expander commented on #192
Hmm, maybe then you have a bug in the created `modue.mk` file?

Please have a look at the header-only "module" `slhaea/` which only contains a header file. If I understand correctly, this is analogous to your case.

[2020-04-22 20:06] wkotlarski commented on #192
This happens even with empty `model_specific/sm_h_decays/module.mk`.

[2020-04-22 20:16] Expander commented on #192
Sorry, you are right, this is non necessarily a bug on your side. The reason may be these lines, that one can find in several files:
[code]
The last line creates a "library" name for the model-specific modules. If any executable depends on this "library", then make tries to create it. Could you please run
[code]
to see which target needs your non-existing "library"?

[2020-04-22 20:24] wkotlarski commented on #192
Does [this](https://github.com/FlexibleSUSY/FlexibleSUSY/files/4518837/make_debug.txt) help?

[2020-04-22 20:33] Expander commented on #192
Would you mind printing:
[code]

[2020-04-22 20:37] wkotlarski commented on #192
[code]
and
[code]

[2020-04-22 20:42] Expander commented on #192
Strange, the library is not in any of the output.

Could you please paste your `model_specific/sm_h_decays/module.mk` file?

[2020-04-22 20:51] wkotlarski commented on #192
Now I'm using this. It's copy of `slhaea/module.mk`
[code]

[2020-04-22 21:10] Expander commented on #192
That looks ok. Could you please rename the variables so that they are unique? `SLHAEA_MK` is for example already defined in `slhaea/module.mk` etc. :)

Could you please print:
[code]

[2020-04-22 21:24] wkotlarski commented on #192
Ofc, the naming was just temporary :)
[code]

[2020-04-22 21:34] Expander commented on #192
Sorry, I'm standing on the tube now... Could you please print the output of
[code]

[2020-04-22 21:38] wkotlarski commented on #192
[That](https://github.com/FlexibleSUSY/FlexibleSUSY/files/4519118/make_debug.txt)'s the output. It's very large. But this can wait. No hurry if you're busy. We can go back to this tomorrow.

[2020-04-22 21:51] Expander commented on #192
Ah, now I see the problem! :)
In `models/SM/module.mk` there is the dependency
[code]
Here `$(MODSM_LIB)` is constructed at the top. It contains one `.a` file for every dependency from `model_specific/<...>/`. I.e. it contains `model_specific/H_SM_decays/libmodel_specific_H_SM_decays.a`.

In other words, it is assumed that all "model-specific" modules create a library that gets linked to the execu

[2020-04-23 07:37] wkotlarski commented on #192
Thanks! Now it works.

[2020-04-23 07:37] #192 closed

[2020-04-24 10:10] uukhas opened #193 "TSIL can't be disabled"
After running of
[code]
I get
[code]

[2020-04-24 11:05] Expander commented on #193
Nice catch!

[2020-04-24 11:06] #193 closed

[2020-04-30 02:09] pathron opened #195 "Error reporting from calculate_observables"
Douglas found that when an exception was thrown from code called by calculate_observables it is not passed on to the slha output file when using the run_<modelname>.cpp interface.

This behaviour is clear because in templates/run.cpp.in the problems are extracted in line 80 before the observables are calculated, and is then passed without further modification to SPINFO block in line 100.  However

[2020-05-04 13:11] Expander commented on #152
I think the behavior of `DecreaseIndexLiterals` should be such that
[code]
yields
[code]
iff `f1` and `f2` are either

* input parameters (with an index) or
* extra parameters (with an index) or
* output parameters (with an index) or
* model parameters (with an index), like masses or mixing matrices.

I.e. indices should be decreased for all symbols that appear at the C++ level and that carry an i

[2020-05-04 13:13] Expander commented on #152
Given this intention of `DecreaseIndexLiterals`, can you give a short example where this function yields incorrect behavior in such a context?

[2020-05-04 13:42] Expander commented on #195
Hi Peter and Douglas,

thanks for reporting this issue!

I principle I like the idea to record the problems for each observable separately.

## C++ interface

At the C++ level we may use our general `Spectrum_generator_problems`, which is intended to collect all problems, e.g. problems from the BVP solver and from each model. It may in addition collect the problems from each observable in form of

[2020-05-05 04:20] pathron commented on #195
Thanks for the very detailed response!

### **At the SLHA level:**

* l think the first possibility creates an ambiguity in OBSINFO[1] etc.  I guess the idea would be the user checks entry 0 as well as the block name to determine what the other entries mean.  However I think that is not within the usual spirit of slha and maybe too complicated.  I see that your thinking is to preserve entries 3 an

[2020-05-05 07:18] #64 closed

[2020-05-05 22:06] wkotlarski opened #198 "new test matrix"
@Expander, @uukhas, I've extended the test matrix to include collier. If I configure FS with Collier, will it calculate everything with collier? What's the precedence of libraries. If there's collier, will it will be always used everywhere? Similarly, if there's only LoopTools will it be used everywhere? If yes then it makes sense to configure FS 3 times, separately:
- without collier or LT
- with

[2020-05-05 23:05] uukhas commented on #198
Default loop library is `softsusy`. It can always be enabled by `Loop_library::set(0)`. If one forgets to call explicitly `::set(0)` before first `::get()`, then the program will print the warning and turn on `softsusy`.

If one setups with `looptools`, then one can use `softsusy` and `looptools` at runtime. To use `looptools` one has to call `Loop_library::set(2)` (you can put negative number, th

[2020-05-05 23:06] uukhas commented on #198
If one enables the library by the call of `::set(<...>)`, then everything is calculated with this library only.

[2020-05-05 23:26] wkotlarski commented on #198
Tests don't take any input. So one cannot switch libraries within tests. One can only hardcode the library choice in them. Should we have different versions of tests for different libraries?

[2020-05-05 23:30] uukhas commented on #198
Maybe one can write some `.sh` master test, which will be launching some specific tests with different input for them (if it's possible to give some input to them)?

[2020-05-06 05:13] Expander commented on #198
There is a test which cross-checks all configured loop libraries. But I guess this is not what you're thinking of, @wkotlarski , right?

Having `.sh` test that cross-check specific models with different loop libraries would be an option.

I see another option: We could introduce another flag value `-1` with the following behavior:
* If the environment variable `FLEXIBLESUSY_LOOP_LIBRARY` is set to

[2020-05-06 14:45] wkotlarski commented on #198
I'd like the `FLEXIBLESUSY_LOOP_LIBRARY` option. I do not want to hardcore loop library in the tests.

[2020-05-06 15:44] Expander commented on #198
Yes, hardcoring is not so nice. ;D

@uukhas since you are the master of loop libraries, would you mind preparing a PR?

[2020-05-06 15:50] uukhas commented on #198
Just one question.

By environment variable you mean usage of `<cstdlib>`s function `std::getenv()`, right?

[2020-05-06 16:56] Expander commented on #198
Yes, that what I was thinking about

[2020-05-06 23:01] wkotlarski opened #201 "test fails"
[test_run_examples.sh.log](https://github.com/FlexibleSUSY/FlexibleSUSY/files/4589874/test_run_examples.sh.log)

[2020-05-07 01:22] wkotlarski opened #202 "links to commits in changelog"
@Expander, I really like the idea of of giving commit's SHA hash in the changelog. Could we make them into links to those commits too in the future?

[2020-05-07 06:36] Expander commented on #202
That's a good idea!

However, there is one point here: If we create links to github commit pages, we're making the CHANGES.rst file more dependent on github. I'm not sure how easy it would be to move to another platform at some later point, if desired.

[2020-05-07 07:39] Expander commented on #201
Thanks for the catch!

[2020-05-07 11:11] wkotlarski commented on #201
[test_run_examples.sh.log](https://github.com/FlexibleSUSY/FlexibleSUSY/files/4592564/test_run_examples.sh.log)

[2020-05-07 12:08] Expander commented on #201
Thanks again!

[2020-05-07 12:51] wkotlarski commented on #202
I'm not an expert on `reStructuredText`. It has variables, right? If moving to other hosting service, the SHA hash would not change. We could define a variable that contains `https://github.com/FlexibleSUSY/FlexibleSUSY/commit` and then combine it with hashes. If we ever move somewhere else, we'd only have to change this variable.

[2020-05-07 15:05] wkotlarski commented on #201
[noch einmal](https://github.com/FlexibleSUSY/FlexibleSUSY/files/4593792/test_run_examples.sh.log)

[2020-05-07 15:31] #201 closed

[2020-05-07 20:43] Expander opened #203 "Cannot build libcollier_wrapper on MacOS"
@uukhas MacOS (see travis-ci output) has a problem to build `libcollier_wrapper`: It tries to compile `libcollier_wrapper.f90`, instead of `libcollier_wrapper.F90`.

I stumbled upon such an issue on MacOS in the past. The reason is that some MacOS file systems do not distinguish between upper/lower case letters. I have the feeling the same is happening here.

Probably a simple renaming of `libcoll

[2020-05-07 20:53] Expander opened #204 "test/test_pv_softsusy.x and test/test_pv_fflite.x have undefinde symbols"
@uukhas Building `test/test_pv_softsusy.x` and `test/test_pv_fflite.x` on travis-ci fails with a linking error. It seems that `libpv.a` contains symbols to a configured loop library, which is not linked.

I guess this could be resolved by linking `$(LOOPFUNCLIBS)` to `test/test_pv_softsusy.x` and `test/test_pv_fflite.x`.  However, I'm not 100% sure if this is correct, because I could imagine that

[2020-05-07 20:58] uukhas commented on #204
@Expander, I am quite surprised that now these tests are failing, because at the time, when  my nice dynamic selection of the loop library was merged, they were working.

In addition, I noticed, that `test_looplibrary_collier.x` fails as well (I think, that this might be caused by high precision requirements.

So, I will try to resolve these issues and make PR.

[2020-05-07 21:01] wkotlarski commented on #204
No @uukhas. The tests were not working since the merge. We're still slowly squashing bugs :)

[2020-05-07 21:15] uukhas commented on #204
This was the first time, when these 3 tests were added and compiled here, remotely. I spent some time on that large (sorry for that) PR in order to fix these tests that time. And they were working on my machine. This is was I meant.

[2020-05-08 07:22] Expander commented on #204
@uukhas , many thanks for having a look at this issue!

I have to apologize, because this maybe my mistake: Before we merged your PR, we did not properly test the new feature on travis-ci. In particular, I did not build with the flags `--with-loop-libraries=looptools,collier` on travis-ci. Sorry for that.

[2020-05-08 09:13] uukhas commented on #203
Yes, it was done in #205 by renaming from `.F90` to `.cpp`.

[2020-05-08 11:32] Expander opened #206 "make install-src fails on BetaSM"
I've build the `BetaSM` (a testing model) as:
[code]
Then I've configured again, this time specifying the installation directory for the source code:
[code]
Then running
[code]
gives the following error message:
[code]

[2020-05-08 16:07] #206 closed

[2020-05-08 18:37] wkotlarski opened #207 "need to link pthread"
[code]

[2020-05-08 21:27] #207 closed

[2020-05-09 15:28] wkotlarski commented on #204
Some tests fail for FS configured with LoopTools
[code]
Is this related to this issue? @uukhas, would you mind looking at it?

[2020-05-09 15:34] Expander commented on #204
@wkotlarski can you please state the exact configuration command that you'd used?

[2020-05-09 15:44] wkotlarski commented on #204
Something like this
[code]

[2020-05-09 15:57] Expander commented on #204
Ah, thanks! This is probably equivalent to
[code]
(except for the paths).

[2020-05-09 19:35] wkotlarski commented on #204
Also, with
[code]
I get
[code]
Is this already known?

[2020-05-09 20:04] Expander commented on #204
Ouch! Can you please print the output of
[code]
for the failing command?

[2020-05-11 18:05] wkotlarski commented on #204
[code]

[2020-05-11 19:36] #203 closed

[2020-05-11 20:02] Expander commented on #204
@uukhas fixed several linking bugs.
@wkotlarski could you please try if the problems still persist?

[2020-05-11 23:27] wkotlarski commented on #204
The latest version of the development branch still has this error.

[2020-05-12 12:54] Expander commented on #204
I've tried to reproduce the problem. I've run:
[code]
Then I get a compiler error:
[code]
@uukhas have you seen this error before?

I've build LoopTools like so:
[code]

[2020-05-12 13:13] wkotlarski commented on #204
I think I saw it at some point and it might now be related to our problem. I think it was clang or LoopTools error.

[2020-05-12 13:18] Expander commented on #204
The error "undefined reference to main" seems to suggest that `test_looplibrary_environment.{x,o}` do not contain a main function.

Could you please run
[code]
and paste the output? I have the impression that one of the build statements may have a bug.

[2020-05-12 13:27] wkotlarski commented on #204
[code]
I wonder what is this line
[code]
It's not my path. It looks like a path from rpm build service. Why would it be hardcoded on my system?

[2020-05-12 14:03] Expander commented on #204
I think I've identified a possible cause of this issue. Could you please try with the latest commit fde19e907 ?

[2020-05-12 14:53] Expander commented on #204
@uukhas Do you know if there is an alternative to `setmudim(x)` in LoopTools? I.e., can the scale be set in a different way?

[2020-05-12 14:56] uukhas commented on #204
If I am not mistaken, this is the only way, according to manual.

[2020-05-12 15:20] Expander commented on #204
@uukhas Ok, thanks. I've filed a bug report in LoopTools 2.15.

[2020-05-12 15:58] Expander commented on #178
Do I understand correctly, that the implicit assumption can only be checked numerically and not at the meta code level?

[2020-05-12 15:59] Expander commented on #173
Can this issue be closed, since PR #175 has been merged?

[2020-05-12 17:05] wkotlarski commented on #204
For me this commit does not solve the problem, sorry.

[2020-05-12 17:47] Expander commented on #204
Strange. Could you please execute the following commands and paste the output here:
[code]
and
[code]

[2020-05-12 18:14] wkotlarski commented on #204
The `.x` is not created, right? So I cannot `nm` it. In `.o` there's no mention of main.

[2020-05-12 18:44] Expander commented on #204
Ah, of course. :) But that means that the command
[code]
does not create a `main`, but it should! If I run this command on my machine, it does not produce a `main`, either. However, when I add `-DBOOST_ALL_DYN_LINK` to the command, a main is generated:
[code]
Then i get:
[code]
Can you please past the output of
[code]

[2020-05-12 18:45] uukhas commented on #204
For me it gives:
[code]

[2020-05-12 18:46] Expander commented on #204
I've pushed another speculative fix in commit 3339e4946 . Could you please check if the problem still persists?

[2020-05-12 18:48] uukhas commented on #204
For me - yes. I only used the changes from the last commit.

[2020-05-12 18:50] uukhas commented on #204
@Expander, sorry. I corrected my answer)

[2020-05-12 19:14] Expander commented on #204
Thanks for your feedback! I've created a PR to add
[code]
to all remaining tests that did not define it. Could you please have a look?

[2020-05-12 19:17] Expander commented on #204
Interestingly, the tests that were missing a `#define BOOST_TEST_DYN_LINK` seem to be the one that fail with an `invalid free` error message on @wkotlarski 's machine.

[2020-05-12 19:29] wkotlarski commented on #204
For me #208 fix the problem with `test_looplibrary_environment.x`. Thanks all!

[2020-05-12 19:32] Expander commented on #204
Great! Good that this is resolved now!

[2020-05-12 19:32] Expander commented on #204
Can we close this issue?

[2020-05-13 06:16] wkotlarski opened #209 "add note to README"
Add comment that both LoopTools and Collier can be enabled at the same time and how to do it.

[2020-05-13 08:14] Expander opened #210 "Testing `pack-<model>-src`"
Can we add a test to check that `pack-<model>-src` works?
It could look like this (after the meta code has run):
[code]

[2020-05-13 09:15] uukhas commented on #209
Isn't it enough to look at `./configure --help`?

[2020-05-13 09:28] #209 closed

[2020-05-13 09:31] uukhas commented on #156
@wkotlarski, is the problem solved now?

[2020-05-13 13:35] Expander commented on #195
Hi Peter,

many thanks for your feedback!

## SLHA level

I absolutely agree with your opinion, my suggestions 1 and 3 are not good. I like your two suggestions:

a) using a unique name for each observable, like `OBSINFO-aMuon` and `OBSINFO-h->gg`
b) using a unique index for each observable in a `OBSINFO` block:
[code]
Personally I like b), because we have fewer blocks which looks cleaner to me. A

[2020-05-13 16:56] wkotlarski commented on #210
Just make it 100% clear: you don't mean a test like something in `test` directory but an extra step in github action?

[2020-05-13 18:16] wkotlarski commented on #204
For the `test_pv_softsusy.x` hangs.

[2020-05-13 18:18] uukhas commented on #204
It waits for an input from `test_pv_fflite.x`.

It should not be called at all. Only as a part of `test_pv_crosschecks.sh`.

[2020-05-13 19:07] Expander commented on #204
@wkotlarski Could you please paste the output of
[code]
and
[code]
Maybe this helps us to see which target leads to this call?

[2020-05-13 19:08] Expander commented on #210
Yes, I mean a test in form of a github action. Sorry for being not precise.

[2020-05-13 19:15] wkotlarski commented on #204
@Expander, it's fine. I didn't know I was not suppose to call it manually, which I did. Sorry. All is fine. We can close it.

[2020-05-13 19:15] #204 closed

[2020-05-13 19:44] wkotlarski commented on #210
Ok. So you'd have to add  `pack-MODEL-src` options to makefile as it is not there right now, right?

[2020-05-13 19:46] Expander commented on #210
It is already there. :) For each model `m` there is a corresponding make target called `pack-m-src`.

I'd propose to perform this test only for one simple model that is enabled in the tests, for example the `SM`. (See my code snippet above.)

[2020-05-13 20:01] wkotlarski opened #211 "bug in recent commit"
There seems to be a bug introduced in 30b85a74b132cf30b1f5dc4ad8ff6cca3bb4f292
[code]

[2020-05-13 20:04] wkotlarski commented on #210
Implemented in PR #212. If test pass I'll merge it into development.

[2020-05-13 20:39] #211 closed

[2020-05-13 20:43] Expander commented on #210
Cool, many thanks!

[2020-05-14 04:13] wkotlarski commented on #210
@Expander, shouldn't configure also have `--disable-meta`?

[2020-05-14 07:31] Expander commented on #210
Yes! Sorry, I missed that.

[2020-05-14 08:12] pathron commented on #195
Yes I like the idea of using set_extra() to set the errors as well, it is simple and also clear. Using set_spinfo() would be confusing I think.  If I understand your suggestion correctly `calculate_observables` remains a function, but now the observables return value will also contain the problems as that will be a part of the `@ModelName@_observables` class?  Looks good to me. Should there be jus

[2020-05-14 08:21] Expander commented on #195
Yes, this was my proposal. :)

I think it would be good to have one class/struct for each observable, which are collected in an overall "observable problems" class. Each observable may have its own specific error types, so I think this would be more flexible.

Would it be ok if I start an implementation of this and create a PR for review?

[2020-05-14 08:27] uukhas opened #213 "Why always Start?"
What do you think about the possibility to *cache* somehow the hash-information about all files in `SARAH` directory, and hash of the `SARAH` output files, saved by `FlexibleSUSY` in order to speed-up the n-th rerun of the code generation.

We potentially can identify, what kind of internal things is initialized by `Start[<model>]`and then save it somewhere in order to save time next meta-rerun fo

[2020-05-14 08:50] Expander commented on #213
That's a great idea! In principle we need only to cache the `Output/` directory, that is created by `SARAH` (within the `FlexibleSUSY/` home directory).

[2020-05-14 11:38] Expander commented on #195
A short question: Which kind of error did you and Douglas see? Was it a non-perturbative running or a non-perturbative numerical value for an observable?

[2020-05-14 15:15] pathron commented on #195
It was a non-perturbative running error.

[2020-05-14 15:17] Expander commented on #195
Thanks for the information!
I've added PR #214 where I will perform the development. I'll come back to you when I'm ready. :)

[2020-05-14 15:59] wkotlarski commented on #210
Looks like `test/test_SM_cxxdiagrams.meta` wants `/FlexibleSUSY/models/SM/FlexibleSUSY.m` which is not present in SM.tar.gz. Maybe `--disable-meta` is not passed to `test/module.mk`?

[2020-05-14 19:21] wkotlarski commented on #184
Also, for the MSSM there's no no substantial difference in the size of generated code. Thanks a lot @Expander for fixing it. Closing.

[2020-05-14 19:21] #184 closed

[2020-05-14 19:25] wkotlarski commented on #156
Yes!

[2020-05-14 19:25] #156 closed

[2020-05-14 20:09] Expander commented on #184
Alright!
Just for my understanding, was there some specific change that fixes the issue for your?

[2020-05-14 20:11] Expander commented on #210
Yes, this sounds like a bug. I'll fix it in the development branch.

What exactly are you executing which leads to `test/test_SM_cxxdiagrams.meta` being build?

[2020-05-14 20:48] wkotlarski commented on #210
Please see [here](https://github.com/FlexibleSUSY/FlexibleSUSY/runs/674506193?check_suite_focus=true). First we
[code]
which gives
[code]
This somehow does not stop the tests. They go through and only finally fail during
[code]

[2020-05-15 08:00] Expander commented on #210
Many thanks for the hint! I've tried to fix it in commit cade014c7 .

[2020-05-15 10:06] wkotlarski commented on #39
@Expander, I've added a test that will catch this error in ` meta/CXXDiagrams.m`. There are many places where `CreateLocalConstRefs` is used though. And this test only checks the `CXXDiagrams.m`.

[2020-05-15 12:17] Expander commented on #39
Thanks for adding this test! Although, I'm not sure I understand what the bug is.

When I have a vanishing sum (like `A + B = 0`) and I'm extracting local `const` refs from it, I'd have
[code]
wouldn't the `result` still be zero?

[2020-05-15 14:37] #210 closed

[2020-05-15 23:41] wkotlarski commented on #39
In the past, we parsed the sum of left and right part of vertex in search of model parameters for which we have to create definitions in vertex. If left part = - right part, the sum is 0, and no definition is created.

[2020-05-15 23:51] Expander commented on #39
Ok, I see, it's about the left- and right-chiral parts of a vertex.
Anyway, thanks for the explanation! :)

[2020-05-16 00:03] Expander commented on #39
Do I understand correctly, that this bug is in principle still present, but does somehow not show up in the models we've studied so far? Or does the bug appear and can be reproduced?

Also, do I understand correctly, that the bug is not in the `CreateLocalConstRefs` function, but actually in the way this function is used within `CXXDiagrams.m`?

[2020-05-16 00:23] wkotlarski commented on #39
I'd say so. `CreateLocalConstRefs` function is fine, it's how it's called in `CXXDiagrams` (and few other places). The bug is now fixed. It only appears in special cases. I forgot which model did exhibit it, I'm trying to find it out again.

[2020-05-16 00:26] Expander commented on #39
Ok, I understand. Many thanks!

[2020-05-16 06:43] wkotlarski opened #217 "failing collier tests"
@uukhas It doesn't look like my fault...
[code]

[2020-05-16 08:06] uukhas commented on #217
I would be happy if you tell:
- how did you configure `FlexibleSUSY`;
- how did you run these tests.

[2020-05-16 08:11] wkotlarski commented on #217
This is setup from action
[code]
Tests
[code]

[2020-05-16 09:58] uukhas commented on #217
For me this setup on development branch doesn't even test `test_loopfunctions`.

If I make it explicitly (with the `conan` help):
[code]

[2020-05-16 10:02] Expander commented on #217
Could it be that you've not configured with `--with-optional-modules=test` and `--with-models=CMSSM`?

[2020-05-16 10:26] uukhas commented on #217
Exactly! I have configured with default `SM` only.

[2020-05-16 10:48] Expander commented on #217
Just for the physics: `B0` and `B1` are IR divergent for `p = m1 = m2 = 0`. `LoopTools` and `SOFTSUSY` return `0` in this case to protect against `NaN`s. It seems `COLLIER` returns something different here. It may be related to the internally used IR regulator value?

@uukhas Do you set the IR regulator to some specific value? From the manual (https://arxiv.org/abs/1604.06792) I find that they can

[2020-05-16 10:51] uukhas commented on #217
They have default values. I do not change them at this version of `COLLIER` wrapper.

[2020-05-16 10:59] Expander commented on #217
Ok, thanks for the info!

To fix this, I see two ways:

* We disable these two tests only for `SOFTSUSY`, `LoopTools`, `FFlite`. I.e., we don't run these two tests for `COLLIER`.
* We modify the IR regulators of `COLLIER` such that the tests pass.

What is your opinion?

[2020-05-16 11:02] uukhas commented on #217
I would suggest to disable these two points for `COLLIER` and keep default values as they are.

[2020-05-16 11:03] Expander commented on #217
Yes, I also think this would be best, because I'm not sure about the physics implications of modifying the IR regulators.

[2020-05-16 11:22] uukhas commented on #217
This should solve the problem:
[code]

[2020-05-16 11:26] Expander commented on #217
For the record: From Eq. (7) of https://arxiv.org/abs/1604.06792 I think this issue can in principle be fixed by setting:
[code]
Just for fun, one may check that. :)

[2020-05-16 11:31] wkotlarski commented on #217
To be more precise, LoopTools doesn't return 0 to protect against NaNs. It returns 0 because IR divergence are also DIMREGed. In DIMREG a scaleles integral is 0 (the UV div = - IR div).

[2020-05-16 11:35] Expander commented on #217
Ah, you are right, thanks!

[2020-05-16 19:52] wkotlarski commented on #217
I do believe that this is the better solution than what @uukhas proposed.

[2020-05-16 23:50] Expander commented on #217
From my side, we also can go with this solution.

Can we assure that the default setting or the explicit setting of the IR regulators (as above) lead to a correct prediction that is independent of these regulators? (Are we adding real + virtual corrections correctly in all cases?) If we are not sure, then it may in deed be best to set the regulators such that the results of the loop functions agre

[2020-05-17 04:03] wkotlarski opened #218 "model that does not exist"
In `model_files` we have steering file for the creation of `LHInputMSSM`. Such model doesn't exist in SARAH. If you call
[code]
you'll get
[code]
Should we remove the `model_files/LHInputMSSM` directory?

[2020-05-17 11:09] Expander commented on #218
I'd prefer if we could keep it. It is a testing model that tests the functionality of the `LHInput[]` symbol. I've just added the default SARAH model (`MSSM`) to avoid the confusion.

[2020-05-17 12:01] wkotlarski commented on #218
That's fine. I don't mind. I just didn't know if was suppose to be there or not. Thanks.

[2020-05-17 12:26] pathron commented on #218
Thanks for adding the default SARAH model.  Could there be any other old model files that are missing default SARAH models or was this the only one?

[2020-05-17 13:07] Expander commented on #218
I've fixed all remaining ones in commit 32320939a

[2020-05-17 13:08] wkotlarski commented on #218
No. Now all models can be created. Didn't run make though.

[2020-05-17 13:31] wkotlarski commented on #218
Fun fact. Even without last commit from @Expander, all models work. For example
[code]
even though it doesn't have `FSDefaultSARAHModel` defined.

[2020-05-17 13:35] #218 closed

[2020-05-17 13:36] Expander commented on #218
Sorry, I was too quick. @wkotlarski is correct, all models work so far w/o the need to specify a default SARAH model.

[2020-05-18 13:11] Expander opened #221 "User-friendly README"
Over time, our `README.rst` has grown to a large file with lots of installation/build instructions for developers. OTOH, the part that contains physics/application-related information is significantly smaller. I think it is time so improve that and clean-up or split the `README.rst` file.

My first proposal would be to reduce the size of the `README.rst` file and introduce more links to sub-pages

[2020-05-18 13:37] pathron commented on #221
Actually just today I was there wasn’t enough content :) though this is not really disagreeing with you because we can also add some additional documentation in sub pages.  For the sake of an honours student project I was looking up how Himalaya is used, but the details are not in the README so I ended up looking at our FS2 manual.

 So anyway my vote is short sections with the parts you describe,

[2020-05-18 19:01] #198 closed

[2020-05-18 19:02] #217 closed

[2020-05-18 21:09] Expander commented on #195
Hi Peter,

I have a first working version, which implements the scheme we have discussed. Would you mind having a look? Below you'll find an SLHA input file which triggers the output of an `OBSINFO` block.

I've written the extension with the following in mind:

* PR #214 should not increase the compile time (no new headers should be included). This led to the use of output iterators, instead of r

[2020-05-18 21:09] Expander commented on #195
[code]

[2020-05-19 08:29] wkotlarski opened #223 "secure observables and reorder loop libraries"
Every module should check if FS is running with required libraries. For that I'd suggest to reorder libraries, such that number >= 2 means proper loop library. Then decays, mu to e module etc will check if library is >= 2, else they'll throw.

[2020-05-20 06:07] wkotlarski opened #224 "possible missing include in TensorCoupling model"
Compiling TensorCoupling model gives
[code]
and so on. Are we maybe missing
[code]
as suggested [here](http://eigen.tuxfamily.org/index.php?title=Tensor_support)?

[2020-05-20 06:52] Expander commented on #224
Thanks for catching this! You are right, we're missing a header inclusion here. We should include
[code]
(or `wrappers.hpp`). Do you know, why `TensorCoupling_mass_eigenstates_interface.hpp` does not give an error message?

[2020-05-20 06:57] wkotlarski commented on #224
Isn't the error I quote from `TensorCoupling_mass_eigenstates_interface.hpp`?

[2020-05-20 07:24] Expander commented on #224
Yes, of course! But `Kappa` should also be present in `TensorCoupling_mass_eigenstates`, which I thought compiles fine.

[2020-05-20 07:29] wkotlarski commented on #224
This also fails, just a second later
[code]

[2020-05-20 07:31] Expander commented on #224
Ok, now it's clear. :)
I think the easiest thing to do is to include `eigen_tensor.hpp` in `templates/soft_parameters.hpp.in`. Would you mind trying this?

[2020-05-20 07:36] wkotlarski commented on #224
I think we permanently disabled Tensors. `eigen_tensor.hpp` says
[code]

[2020-05-20 07:41] Expander commented on #224
Ah, now I remember! Sorry, I'm getting old. :)

I've experienced some fundamental compile-time errors with clang when using tensors. The errors have been posted to the Eigen mailing list, but I'm not sure it is fixed now. That's why I've disabled it.

[2020-05-20 07:46] wkotlarski commented on #224
Can we make `configure` and/or `createmodel` abort and print why if someone tries to use this model?

[2020-05-20 08:18] Expander commented on #224
Hmm, yes we could do that, but it is actually not an ideal fix, because a user may create other models with tensor couplings. So, it may be better to catch this at the meta code level. What do you think?

[2020-05-20 08:25] wkotlarski commented on #224
That would be even better. My first though was only that I don't want in 6 months time to wonder again why does a model we ship with FS doesn't work.

[2020-05-20 10:01] pathron commented on #224
Thanks for looking into this and for planning a meta-code solution, to avoid a repetition when we all forget.   I seem to remember we discussed at some point being unable to support tensor couplings.  However as I read it in the explanation above it seems the problem only related to the clang compiler, so models with tensor couplings may work with gcc or intel ?  If so can it be allowed for these

[2020-05-20 17:18] Expander commented on #224
I've checked that it still does not compile with latest clang++ 11, nor g++ 8.
I've created PR #226 to disable the tensor couplings until this is fixed.

[2020-05-21 08:34] #39 closed

[2020-05-21 08:59] wkotlarski commented on #129
This would be useful because modern computers typically have much more cores than mathematica licences.

[2020-05-23 09:16] #224 closed

[2020-05-24 17:32] wkotlarski opened #228 "decays faill with clang (but not gcc)"
[code]

[2020-05-25 08:54] Expander commented on #228
I cannot reproduce this error with clang++ 11. I ran (on commit e261ae80b6):
[code]
and everything compiles fine. Which version of clang are you using?

[2020-05-26 17:40] wkotlarski commented on #228
I'm using clang++ 10. Maybe that's the reason?

[2020-05-26 18:16] Expander commented on #228
Sorry, but I cannot reproduce this compiler error message with clang++ 10, either. Can you please paste your precise `configure` command and the output of `make showbuild`?

[2020-05-26 18:33] wkotlarski opened #229 "Adapt FlexibleDecays to #227"
This is related to #227 in conjunction with #164. We had a special case of fill function
[code]
@Expander, since you've removed `fill_spectrum_generator_data` would you like to suggest a replacement? Should we have 2 version of `fill` at all?

[2020-05-26 18:46] wkotlarski commented on #228
Ok, I'll do that. Maybe I haven't yet pushed everything. I'm still in the middle of a merge.

[2020-05-26 19:12] Expander commented on #229
I would suggest to extend the currently available `fill()` function like so:
[code]
The `decays` pointer should have a default parameter value of `nullptr`. This has the advantage, that it is now an "optional" parameter, that can be omitted.

What do you think?

[2020-05-27 05:26] wkotlarski commented on #229
Hopefully I've fixed the decays in the last commit. I've modified ` templates/run_cmd_line.cpp.in` and `templates/slha_io.hpp.in`. I've used `unique_ptr` and `move` if you're ok with that.

[2020-05-27 05:31] wkotlarski opened #230 "./models/MODEL/run_cmd_line_MODEL.x --help fails"
with
[code]
`-h` works fine. Both should work according to
[code]

[2020-05-27 08:09] #230 closed

[2020-05-27 08:09] Expander commented on #230
Ouch! Thanks for catching this one! :)

[2020-05-27 08:16] Expander commented on #229
TBH, I'm not happy about passing a `unique_ptr` to the `fill()` function, because this restricts the usability of the function, because you're transferring ownership and cannot use the `decays` object afterwards. For example, the following use case does not seem to work now:
[code]
Why don't you simply pass a pointer to an object on the stack? As far as I can see, we don't need to pass ownership (

[2020-05-27 10:01] wkotlarski commented on #229
Thanks for the comment. You're of course right. The idea behind it was that we never use it after the `fill` call, so I thought it's a good idea. Can I at least use a `shared_ptr` instead of a raw one? I always forget to deallocate them :)

[2020-05-27 10:20] pathron commented on #229
You and everyone else who uses them it seems...

[2020-05-27 10:48] Expander commented on #229
Yes, that'd be much better.

Although, I still don't understand why we have to dynamically allocate a decays object at all. Which benefit does this have/which pattern are you following? For example, we're currently not allocating an object for the observables, and this seems to work just fine. :)

[2020-05-27 10:52] wkotlarski commented on #229
With signature
[code]
I have to pass pointer to `decays`, don't I?

[2020-05-27 10:56] pathron commented on #229
sorry stupid question.. but what do actually need to do with decays in the fill object?  It looks like you don't need to change anything in it anyway?  is that right?

[2020-05-27 11:08] wkotlarski commented on #229
Because it states it's a "Convenience wrapper function to fill all information at once" :)

[2020-05-27 11:09] pathron commented on #229
Sorry its fine, I deleted my question already, as it made no sense :).

[2020-05-27 11:59] Expander commented on #229
Yes, my proposal was to use a raw pointer. :) I intended to pass an address to an object on the stack (not the heap), i.e.
[code]
This will work perfectly fine, as long as `slha_io` does not store the pointer (which it does not do and must not do.) From looking at your code, I don't see a reason why we should use a `shared_ptr` to a heap objeckt. (Maybe I'm overlooking something, though.)

I'd use

[2020-05-27 12:11] Expander commented on #229
Or phrased in another way: My proposal was to extend the `fill(...)` function by another *optional* parameter, i.e. a parameter that can be given or omitted. However, I can't use references for this job, because the can't be optional (they don't have this desired semantics in C++). So, I propose to use a pointer, which can be `nullptr`, which means that no decays object is passed.

[2020-05-27 12:20] pathron commented on #229
Yeah but the cost of having an optional parameter here is to use a pointer and use the `nullptr` when its omitted, which to me is less transparent and simple than just having an overload where a const ref is passed.  I don't mind if you really think this is better.

[2020-05-27 13:50] Expander commented on #229
I would also be fine with an overload.

[2020-05-27 14:59] wkotlarski commented on #229
In this approach this line
[code]
has to be changed on meta level, or wrapped in `if` since decays might or might now exist.

[2020-05-27 21:47] wkotlarski commented on #228
This will be probably solve together with #229.

[2020-05-29 12:20] wkotlarski opened #231 "ParallelMap in FlexibleSUSY"
Has anyone ever tried to do this? Especially has anyone found a nice way to distribute contexts? In the case of decays, `ParallelMap` would give an enormous speed-up.

[2020-05-30 15:01] Expander commented on #231
From my experience the contexts are distributed automatically. Here is an example:
[code]
As output I get:
[code]

[2020-05-30 23:55] wkotlarski commented on #231
So the replacement of `Map` with `ParallelMap` in crucial places works, but doesn't give any speed-up because Mathematica runs them on a single core. It briefly spans 4 subthreads and then evaluate every function call sequentially. I don't know how much time I want to devote to it right now. Also, I hate mathematica.

[2020-05-31 11:20] Expander commented on #231
Hmm, that is Mist. Can you point me to the function in `meta/` which you'd like to map over a certain list? I can try to have a look what's going wrong.

[2020-05-31 11:33] Expander commented on #195
@pathron would you mind trying to run the SM with this SLHA file to see if the output is OK?
[code]

[2020-05-31 11:35] wkotlarski commented on #231
Commit 5dfcfa15a69b5d1e42f794f34bcf7be024a83918 replaces two `Map` with `ParallelMap`. The final output of the code is unchanged but I don't see any speed up.

[2020-05-31 12:02] wkotlarski commented on #231
@uukhas, could you check it for me, please? See if on FlexibleDecay-merge_upstream2 branch you ever get more that 100% of CPU usage.

[2020-05-31 12:10] Expander commented on #231
I get proper parallelization when I pass `DistributedContexts -> All` as last argument, i.e.:
[code]

[2020-06-01 15:53] wkotlarski commented on #231
This does run the code on all cores, but there is a problem. Simple example - put anywhere in FlexibleSUSY this line
[code]
You'll get
[code]
Odly, the same thing works in the notebook. Or in a standalone script.

[2020-06-02 06:59] pathron commented on #195
OK I get
[code]
I wonder though looking at this, is the correspondence between OBSINFO[0,3] and FlexibleSUSYLowEnergy[21] intuitive? If i renad this I would not be sure which observable or observables this applies to, especially since in this case its not really an observable specific type of error.

[2020-06-02 07:04] pathron commented on #195
would it make sense and be general enough to match the number of the OBSINFO  entry with the first number in the corresponding  entry in FlexibleSUSYLowEnergy and then if it apples to many observables you have report it for each.  I am bit confused by what happens with the effective couplings though since they are reported in FlexibleSUSYLowEnergy but in their own block.

[2020-06-02 07:09] pathron commented on #129
Yes thats the normal situation for me.  when it hangs because of the license problem its quite annoying and I would really like to be able to use as many cores as i wish for code compilation without worrying about mathematica license number.

[2020-06-02 08:56] Expander commented on #195
Thanks for your comments!

The error that you see in the `OBSINFO` block does not come from the `aMuon` calculation. It comes from the failing RG running, which we do before we start calculating the observables. This is why it says `general: ...`. I assigned the special index 0 to thes "general" errors.

A problem in the `aMuon` calculation would read:
[code]
However, for this SLHA input file a "g

[2020-06-02 09:09] pathron commented on #195
yes that is why i said i was confused by the effectivecouplings case, if all observables were repoorted in the same block it would work, but i guess that is not possible because they could also have different structures  like EFFHIGGSCOUPLINGS.  yes.

I guess we may have to rely on the comments making it clear to the user what the entries mean unless they check the documentation.  but in that snes

[2020-06-02 09:18] Expander commented on #195
Good point, "general" is probably not clear. I will change it to "all observables", which is much clearer. :)

[2020-06-02 10:33] uukhas commented on #231
Yes, I can. Can you please be a little bit more concrete about this you want me to set up and run? Possibly there is some fancy linux command to check CPU usage during the run of some program?

[2020-06-02 15:59] wkotlarski commented on #231
Since I've asked this question we already made some progress. Using `DistributedContexts->All` does engage all cores. But as mentioned [here](https://github.com/FlexibleSUSY/FlexibleSUSY/issues/231#issuecomment-636936183), not everything is distributed.

[2020-06-03 08:20] Expander commented on #195
I've changed it in commit bc35d772e16b9ac . Is there something else that could be improved?

[2020-06-03 09:40] wkotlarski commented on #229
I think we actually need 2 separate versions of `fill` function. The reason being that if you disable decays in `FlexibleSUSY.m.in` then `MODEL_decays` doesn't exist and the code will not compile.

[2020-06-03 11:31] Expander commented on #229
Sorry to troll you, but this is may be a case for using a pointer instead of a reference. :)
We can pass `nullptr` to indicate that no decays should be written to the SLHA output.

[2020-06-03 11:45] wkotlarski commented on #229
It would have to be a pointer of type `void`, right?

[2020-06-03 13:25] Expander commented on #229
Hmm, not sure, why do you think so? If one uses a pointer, a forward declaration of the pointed-to object is sufficient (same for reference).

[2020-06-03 13:31] wkotlarski commented on #229
So I'd forward declared a class that might never exist, like
[code]
?

[2020-06-03 13:42] Expander commented on #229
Yes. As long as you're not de-referencing the pointer and/or calling methods on it, this will compile just fine. It's an ordinary forward declaration.

[2020-06-03 14:45] wkotlarski commented on #229
Could you see if you're ok with bd2c99cc8e4898b5a7a4a49e8edde4cf4008b0c7 changes.

[2020-06-03 15:05] Expander commented on #229
[code]

[2020-06-03 15:09] wkotlarski commented on #229
Sorry, I forgot add one change. Now it should be fine.

[2020-06-03 15:11] #229 closed

[2020-06-04 16:45] #228 closed

[2020-06-04 23:28] wkotlarski commented on #231
I've found some candidate for parallelization. From what I see, the main obstacle is that expressions on subkernels have always contexts attached to them. This breaks the `RValueToCFormString` function such that we write a c++ code of the form
[code]
If we could path it to strip those contexts it could save us few minutes in just a single place from the meta phase.

[2020-06-05 10:34] Expander commented on #231
I've found a fix for the issue. Consider the following example:
[code]
If you remove the 3 lines commented above, you get as output:
[code]
If you keep the 3 lines, you get:
[code]
I.e. the 3 lines:
[code]
which "declare" the symbol `gt1`, solve the issue. In our case, we'd need to add the following:
[code]
to the function that is executed on the kernel.

[2020-06-05 10:41] wkotlarski commented on #231
Thanks! Is there a clever way to extract all symbols from expression? I cannot predict them beforehand.

[2020-06-05 10:48] Expander commented on #231
I don't know, sorry. But I guess for your specific case it is just a hand full of SARAH indices. I know that there is only a finite amount of them and they have structured names. So far, I've seen in ``SARAH``:
[code]
and in ``Susyno`LieGroups``:
[code]

[2020-06-05 10:50] wkotlarski commented on #231
No. It's everything that goes into vertex structs. Here's an example
[code]
So basically, it's everything...

[2020-06-05 11:24] Expander commented on #231
Hmm, I see. Could one make use of the helper functions `FindAllParameters[]` (or `FindAllParametersClassified[]`) to find the symbols in an expression?

[2020-06-06 00:03] wkotlarski commented on #231
The whole problem can be tracked back to the call of `CForm` in `RValueToCFormString`. This is because
[code]
This can be patched as
[code]
This works in general but not in our since we have `Hold@CForm`.

[2020-06-08 14:41] wkotlarski opened #234 "leftover Dynamic output in terminal"
@uukhas, there's still a message
[code]
in the output. Would it be possible to get rid of it the same way we did with the ones from vertices?

[2020-06-08 14:52] uukhas commented on #234
@wkotlarski, thank you for this issue. I think that yes, it is possible. Tell me, please, for which model you get this output? I want to check my fix locally first.

[2020-06-08 14:54] wkotlarski commented on #234
I saw it in `U1xMSSM3G` but I guess it's more common.

[2020-06-08 15:07] Expander commented on #231
Aha! Yes, in general we need `Hold @ CForm`, because we need to keep the order of multiplication when we deal with matrices. The following would be wrong, for example:
[code]

[2020-06-08 15:16] Expander commented on #231
I think I've found another workaround: We can try to make the contexts, in which the symbols are defined, available to the kernel:
[code]
The two lines:
[code]
magically import all symbols from the `C` context into the scope of the function. (If you omit these two lines, the output will contain the unwanted `C_` prefix stuff.)

So, what about adding the two lines
[code]
to the beginning of the fun

[2020-06-08 19:51] wkotlarski commented on #231
I'm almost there. The only remaining problem. The generated code gives
[code]
Somehow now the `std::complex` is replaced by the `Complex` wrapper. I could do
[code]
but then it complaints about something else.

[2020-06-08 20:06] Expander commented on #231
Please don't include `complex.hpp`. :)

Could it be that the `Global` context is somehow not made visible in the kernel? (Just a guess.)

Btw., what solution are you using?

[2020-06-08 22:30] wkotlarski commented on #231
Wow, then why do we have `complex.hpp` if it's a forbidden fruit ;) Anyway, please check PR #235.

[2020-06-10 00:27] wkotlarski commented on #234
@uukhas, can I close it?

[2020-06-10 07:14] uukhas commented on #234
I think that I have fixed it in #236.

[2020-06-10 10:41] #234 closed

[2020-06-13 13:08] wkotlarski opened #237 "Beta function part of LeptoSplitMSSM take very long time"

[2020-06-14 12:58] Expander commented on #237
Thanks for reporting! How long does it roughly take on your machine?

[2020-06-14 14:10] wkotlarski commented on #237
Few hours. I'm timing it right now.

[2020-06-14 14:32] wkotlarski commented on #237
E.g.
[code]

[2020-06-14 15:25] Expander commented on #237
I can reproduce this long run-time. However, I'm afraid this is a SARAH issue and not a problem on the FS side.

[2020-06-14 15:28] pathron commented on #237
What is the gauge group?  SARAH can be *very* slow for some cases.

[2020-06-15 10:15] Expander opened #239 "Optimize multiindex"
While benchmarking the decays, I've noticed that a significant (and probably unnecessary) part is spend inside `multiindex.hpp`, line 71. While looking at the code, I've noticed that there is a bunch of unnecessary copies between different arrays. These should be avoided. In fact, a comment says that the copies can be avoided by using `boost::hana`. If this is the optimal way to go, I'd propose to

[2020-06-16 14:52] wkotlarski commented on #239
You're kind of asking the wrong person. This is the core of the `CXXDiagrams` that was written by Jobst before I came on the project. As far as I remember, Jobst said that Hana is superior to MPL but because we were stuck with C++11 we used MPL. I can look into this but I can't promise anything.

[2020-06-16 14:57] wkotlarski commented on #237
I thinks it's the usuall one. The model file says

_Implementation of the split-MSSM with extra light 1st and 2nd
   generation sleptons.  The convention of arXiv:1407.4081 is used._

Also, ```Model`Authors = "F.Esser,A.Voigt";``` ;)

[2020-06-16 14:58] Expander commented on #239
I see. :) As far as the boost documentation says, Boost.Hana can be used with C++11/14, so we should be able to use it.

In case you want to play around with it, there is a test stub in `test/test_multiindex.hpp`, but it is by far not complete yet. (Jobst did not write a unit test for `multiindex.hpp`, as far as I can see.)

In case it is tricky, do you know if he is still available to modify this

[2020-06-16 15:01] pathron commented on #239
I don’t know what Jobst does now.  My understanding was he left FlexibkeSUSY so we couldn’t expect him to help here, but if you can get in touch you can always ask.

[2020-06-16 15:03] Expander commented on #237
I believe the main reason for the long run-time is the complexity of the Lagrangian and thus the large amount of couplings that it has. Fabian Esser saw these long run-times before, as far as I remember. (Mathematica even crashed on his machine from time to time when building this model.)

BTW, this model represents an EFT in the only remaining reasonable corner of the MSSM parameter space, where

[2020-06-16 15:09] pathron commented on #237
Thanks for the suggestion.  It might have been a model we could use for our g-2 paper, but a bit late for that.  By the way GAMBIT is public and an open community now.  If there are models you want GAMBIT global fits for you can propose joint projects with GAMBIT members, just so you know :).  Or maybe that is what you are trying to do now ?

[2020-06-16 15:45] wkotlarski commented on #239
I think that even asking him would be unfair. It puts him in a uncomfortable position. We have to do it ourself.

[2020-06-18 18:04] wkotlarski opened #242 "Collier release"
Should we make a 2.5 release with Collier interface? This will make referring to it simpler.

[2020-06-18 18:20] Expander commented on #242
That's an excellent idea!

[2020-06-18 18:21] Expander commented on #242
Can the current development branch be made a release?

@wkotlarski Could you please document the change `Temporary -> FSTemporary`?

[2020-06-18 18:34] wkotlarski commented on #242
Done in 21acb9a6fbb32be1590482765347469c06291e20.

[2020-06-18 18:40] wkotlarski commented on #242
@uukhas? Are you ok with this? It's your child.

[2020-06-19 06:07] Expander commented on #242
`test_E6SSM_CXXDiagrams.m.log` currently fails. Do you know why?

[2020-06-19 06:15] wkotlarski commented on #242
No. On github it works
[code]

[2020-06-19 08:22] uukhas commented on #242
The interface seems to be working, so I am ok with this.

[2020-06-19 08:39] Expander commented on #242
I'm testing `test/test_E6SSM_CXXDiagrams.m` just now on my machine.

@wkotlarski @uukhas are you ok with the current version of the `CHANGES.rst`? I've updated it.

Besides this, I'd leave the other PRs for a later version (2.6 or later).

[2020-06-19 08:50] Expander commented on #242
Ok, it passes on my machine (and also in the nightly test from last night).
So, we are in principle ready to release, if you don't have any additions.

[2020-06-19 09:35] pathron commented on #195
OK sorry for not replying earlier  I now get this

[code]

I think its good to go.  Thanks!

[2020-06-19 13:47] wkotlarski commented on #239
For completeness. [Here](https://www.boost.org/doc/libs/1_73_0/libs/hana/doc/html/index.html#tutorial-installation-requirements) they say that "The library relies on a C++14 compiler and standard library, but nothing else is required". When Jobst wrote his stuff FS was only requiring C++11.

[2020-06-20 09:56] Expander commented on #242
FlexibleSUSY 2.5.0 has just been released! :)

Thank you all for contributing, in particular @uukhas for the new loop function interface!

[2020-06-20 09:56] #242 closed

[2020-06-20 14:41] #195 closed

[2020-06-28 06:34] wkotlarski commented on #152
@uukhas, is this still a problem or can we it?

[2020-06-28 07:14] uukhas commented on #152
It looks like that this function is not used incorrectly so far. But still: it can be, because nothing forbids the user to do so.

[2020-06-28 09:53] wkotlarski commented on #152
"With great power comes great responsibility". Will you want to patch it?

[2020-06-29 18:12] wkotlarski opened #247 "replace numdiff with a more common program"
Numdiff is not avalible in all distributions. In openSUSE I have to compile from source. Maybe there's some more universal equivalent?

[2020-06-29 18:50] Expander commented on #247
In the past there have been a program called `ndiff` for numerical comparisons. However, this does not seem to exist in most distributions anymore either.

We could try to go with some advanced use of `bc`, but this is more difficult to use with numerical input in scientific format and one would have to implement the comparison logic by hand. I think in such a case a wrapper script around `bc` cou

[2020-07-04 06:01] wkotlarski commented on #237
Should we close it?

[2020-07-04 10:27] Expander commented on #237
Yes, please close it, as it is not a FS issue.

[2020-07-04 10:39] #237 closed

[2020-07-05 11:08] wkotlarski opened #250 "CMSSM_librarylink fail on CI"
@Expander, I was checking why the test fails on docker. If I run it on my system, it's fine. But on the docker image I get
[code]
Any idea why? Should we link `-lgfortran` to `CMSSM_librarylink.so`. But then why doesn't it fail on my machine directly, only through docker?

[2020-07-05 11:21] Expander commented on #250
Maybe on your machine these symbols are located in a library that we do link to `CMSSM_librarylink.so`. Would you mind trying the following patch? It just links `$(FLIBS)` to the `.so` file in addition.
[code]

[2020-07-05 11:59] wkotlarski commented on #250
This solve this problem. But there's another on
[code]
Could it be that the problem is that, for example, in one file there's
[code]
while in other
[code]

[2020-07-05 13:11] wkotlarski commented on #250
This solves that problem. There's one more though. Seems like the library link call reorders entries in `DECAY` block. It doesn't happen on my machine using Mathematica, but on docker with Wolfram Engine it does.

[2020-07-05 13:42] wkotlarski commented on #250
`out1.spc~`
[code]
[code]
DECAY        25     3.27158897E-03   # hh(1) decays
     0.00000000E+00   2          -4         2  # BR(hh(1) -> barFu(2) Fu(1))
[code]

[2020-07-05 15:32] Expander commented on #250
Thanks for testing! I've fixed it in the `development` branch.

[2020-07-05 15:34] Expander commented on #250
That's strange. Do you write the entries in the same way in the librarylink and in the C++ interface?

[2020-07-06 14:28] wkotlarski commented on #250
That's a very good question. I'm totally unfamiliar with the library link part of decays and FS in general. I'm looking into it right now.

[2020-07-06 20:12] wkotlarski commented on #250
Could it be that `slha_io.set_block` reorder entries? I'm printing the order from inside of `CMSSM_slha_io::set_decay_block(const Decays_list& decays_list)` which gives
[code]
The `test/test_CMSSM_librarylink_slha.out2.spc`, which is an output not using mathlink, then have
[code]
while the `test/test_CMSSM_librarylink_slha.out1.spc`
[code]
So it seams that mathlink part does preserve the order of

[2020-07-06 20:54] Expander commented on #250
Hmm, `set_block()` has an optional parameter `position`. Are you setting this parameter to some value, or are you leaving the default?

[2020-07-06 20:56] wkotlarski commented on #250
Default. We're calling
[code]

[2020-07-06 20:57] Expander commented on #250
Is `decay` a stream object?

[2020-07-06 20:58] wkotlarski commented on #250
yes

[2020-07-06 20:58] Expander commented on #250
Then the following is called:
[code]
I can't see how this should reorder blocks.

[2020-07-06 21:00] wkotlarski commented on #250
Yeah, I know :cry:

[2020-07-06 21:02] Expander commented on #250
Just for my stupidity, did you check that the `decay` stream objects are properly ordered?

[2020-07-06 21:05] Expander commented on #250
Hmm, even if `push_front()` or `push_back()` do reorder/sort things, why the heck is the resulting order different in the two cases?

[2020-07-06 21:08] wkotlarski commented on #250
This is the beginning of decay from `CMSSM_slha_io::set_decay_block`
[code]
This is what is printed to `test/test_CMSSM_librarylink_slha.out2.spc`
[code]

[2020-07-06 21:11] wkotlarski commented on #250
Maybe because the mathematica printout and c++ printout are two different functions. The mathematica one is defined in `meta/FSMathLink.m` (function `PutDecayTableEntries`).

[2020-07-07 14:47] wkotlarski opened #252 "handling decay tests"
Currently, the decay code correctly handles the loop library flag when called through `run_*` or FSMathLink. As an example, in the SM, if there's no dedicated loop library, we print
[code]
while if we have a dedicated loop library, we print
[code]
Maybe we should print some info to one of the observable error blocks about the reason why the value of decays is 0 in the first case, but this is a sec

[2020-07-07 19:11] Expander commented on #252
Concerning the SLHA output in case decays are disabled: Personally I found the output
[code]
very confusing the first time I saw it like this (i.e. cut off). I would find it more natural that *no* `DECAY` block is show in case the decays are not calculated.

Concerning the configuration: I think we could provide both options easily:
* If I understand correctly, the `configure` script knows whether

[2020-07-07 19:25] Expander commented on #250
Interestingly, I cannot reproduce this error on my machine:
[code]
Could it be that we're somehow relying on a certain STL implementation-defined behavior, which is not actually guaranteed? (I.e. some kind of sorting or so.)?

[2020-07-07 19:37] Expander commented on #252
Well, kind of, yes. For g-2 the line entry is zero. Here, however, there is only a block head, with no block body. That confused me. :)

[2020-07-07 19:53] Expander commented on #250
I cannot reproduce this misbehavior unfortunately:
[code]

[code]

[2020-07-07 20:01] Expander commented on #250
It appears to me, that both the LibraryLink and the command line interface actually run the same code:

LibraryLink:
[code]

`run_CMSSM.cpp`:
[code]

From this information, I would guess that the problem should lie within the `decays` object or the `set_decays()` function.

Just for my understanding: Do you have checked, that the `decays` objects that are printed are actually identical? (This is w

[2020-07-07 20:15] wkotlarski commented on #250
Could you try the same on the docker image? You'd have to download it as `docker pull navir/opensuseleap-for-flexiblesusy`. Hope you have lincense for Wolfram Engine, then you have to mount it during running in a proper place (mine is in $HOME/Licensing)
[code]
Then you will see the problem. All FlexilbeSUSY dependecies are instaled on the image. Apart from FS itself.

[2020-07-07 22:41] pathron commented on #252
To be honest I found it confusing for both decays *and* g-2 that we we do it this way.  Having no block entry when things are not calculated would really be ideal, no?

[2020-07-08 06:24] wkotlarski opened #253 "HiggsBounds interface"
The interface could be meta independent and look something like that
[code]
The decay table can be search for specific decay by PDG identifiers. One missing thing are SM decays. Could it be possible to extend build in SM to include decays? I need it for the normalization of effective couplings. I would either pass it side by side to `write_HB` (or however we will call it) or even better, create it

[2020-07-08 06:29] Expander commented on #253
This interface looks simple, so that's nice!

From my point, we could of course extend the code in `model_specific/SM/` to add the SM decays. Note, that you cannot directly use code that you've generated with SARAH's SM for the inclusion in `model_specific/SM/`, because of various sign differences in the Lagrangian parameters. The code in `model_specific/SM/` has been generated with an old SARAH v

[2020-07-08 06:32] Expander commented on #252
OK, this would probably be ideal. Let's see how that can be achieved. We may need to restructure the code in order to do that, I guess.

[2020-07-08 21:19] wkotlarski commented on #250
Proof I'm not crazy [test_CMSSM_librarylink_slha.sh.log](https://github.com/FlexibleSUSY/FlexibleSUSY/files/4893304/test_CMSSM_librarylink_slha.sh.log)

[2020-07-09 16:16] Expander commented on #250
I was never in doubt! :)

[2020-07-10 07:42] Expander commented on #250
Sorry, I'm not familiar with using docker. Which commands do I have to execute in order to reproduce the error?

I ran
[code]
which gives me a prompt `#`. However, when I try to run `math`, I get:
[code]
Is there no WolframEngine license installed on the image?

[2020-07-10 08:03] wkotlarski commented on #250
No. You have to bring in your own license. Assuming file structure `/some/dir/on/your/system/mathpass` you then do
[code]

[2020-07-10 14:43] Expander commented on #250
Thanks for the explanation! However, this does not work as expected. On my machine the license is under `$HOME/.WolframEngine/Licensing/mathpass`. When I run:
[code]
then the `mathpass` is in the expected directory:
[code]
However, running `math` then yields:
[code]
Do I have to somehow map the `Machine name` and the `MathID` in the docker image to the one on my machine?

[2020-07-10 15:10] Expander commented on #250
How do you usually download/build/run FS in this docker environment? Do you "log in" and then run everything "by hand", or do you use a script or so?

[2020-07-10 15:16] wkotlarski commented on #250
I usually don't use it. So everything has to be done by hand. In CI we run github specific [script](https://github.com/FlexibleSUSY/FlexibleSUSY/blob/development/.github/workflows/tests.yml).

[2020-07-11 08:53] Expander commented on #250
I've now build the CMSSM within the docker image using the following commands:
[code]
Inside docker:
[code]
When I then run the test inside docker, it fails as you describe:
[code]

[2020-07-11 08:55] Expander commented on #250
Is there some way to easily install emacs inside the docker image in order to edit some files to debug the problem? (I've not found any reasonable editor in the image. :D )

[2020-07-11 09:37] Expander commented on #250
Just a quick update: I've printed what goes on in `set_decay_block()`: The order of the entries in `decays_list` is different between the two runs.

[2020-07-11 09:51] Expander commented on #250
OK, I've found the issue: `Decays_list` (in `src/decay.hpp`) stores the individual decays in an `unordered_map`. When `set_decay_block()` reads the entries from this `unordered_map`, there is no guarantee that one gets the content of the map back in the order one has written to it.

When I change  `unordered_map -> map`, the test passes.

The SLHA standard does not specify the order in which the d

[2020-07-11 14:23] wkotlarski commented on #250
I've added emacs to the image. I feel dirty...

[2020-07-11 14:29] wkotlarski commented on #250
I'm such an idiot. I've missed that. I checked to the order of writes is the same, but didn't check the container type itself. I've changed it to `map` as you suggest in 20e2adc.

[2020-07-11 14:58] wkotlarski commented on #252
@Expander, should I wait with any changes to it related to decays until you change other observables?

[2020-07-11 16:37] Expander commented on #250
:D

[2020-07-11 16:37] Expander commented on #250
Many thanks, I'm perfectly fine with this approach.

[2020-07-11 16:38] Expander commented on #252
We could wait. But I guess in principle the observables are is somehow tangential.

[2020-07-11 19:47] wkotlarski commented on #253
This will be a problem. The decays don't care about models's convention. So that's fine. But decays need `CXXVertices`. Currently, the `standard_model` doesn't contain anything from Jobst's `cxx_qft` stuff.

[2020-07-12 09:19] wkotlarski commented on #250
Solve in 20e2adc9967c219e05ffb8c6b5831f61b1494152.

[2020-07-12 09:19] #250 closed

[2020-07-12 14:17] wkotlarski commented on #252
95b9a96176057919ddd6451479e693a06d74e0dd disables printing empty `DECAY` heads.

[2020-07-12 20:51] wkotlarski commented on #252
All tests work. I'll close it now.

[2020-07-12 20:51] #252 closed

[2020-07-13 05:59] Expander commented on #253
Yes, so we'd have to (re-)generate large pieces of the `standard_model` code, including Jobst's pieces for the decays. I think this is in principle feasible, but great care has to be taken in order to not introduce bugs.

[2020-07-13 06:44] pathron commented on #253
So when I was running FS this with LILITH I think I was just calling the autogenerated SM get the effective couplings for SM  for the ratios, so that is the option, ie  let it be done on the fly automatically.  I agree for efficiency and also cleaner setup it would be nicer to do it with model_specific/SM though.

[2020-07-15 20:28] wkotlarski opened #255 "stupid C++ question for decays"
@Expander, maybe you can explain why this operator overload doesn't work. The '*' operator is overloaded as a free (non-member) function. It shouldn't care about the order. But somehow
[code]
The scalar * `Decay_amplitude_SFF` works. But the other way around doesn't..

[2020-07-16 00:15] wkotlarski opened #256 "install-bash_completions.bash lacks new options"
The `install-bash_completions.bash` was not updated to include completion for Collier.

[2020-07-17 15:27] wkotlarski opened #257 "add polylogs of order 3 and 4"
@Expander, some analytic higher order corrections to decays require  polylogs of order 3 and 4 for complex arguments. I think we don't have them in FS but they are in your [Polylogarithm](https://github.com/Expander/polylogarithm) package. Could we bring them into FS?

[2020-07-17 17:37] Expander commented on #257
Yes, of course! In fact, `PolyLog(3,z)` is already included in FS. I can include `PolyLog(4,z)` as well, if needed.

[2020-07-17 17:47] Expander commented on #257
fixed in 65c4eef5f56

[2020-07-17 17:47] #257 closed

[2020-07-17 18:44] wkotlarski commented on #255
2063d80 solves my problem. Though I'm still not sure of it's origin...

[2020-07-17 21:32] wkotlarski commented on #253
To summarise. This is a skeleton of potential function
[code]

[2020-07-23 21:20] wkotlarski opened #259 "CI on github hangs or crashes after around 19th of every month"
CI hangs on step:
` Run compiled and shell script tests with 0`
or crashes during configure with
[code]

[2020-08-02 18:31] wkotlarski opened #260 "decay of color octet to 2 octets"
In the future, the code will have to be changed if we want to handle color octet to 2 octets loop induced decays. Example could be sgluon to 2 gluinos or sgluon to 2 gluons in the MRSSM.The reason is that this is the first place where one loop amplitudes don't have a common color factor. For 8x8x8 one can take as a basis f and d factors. The complete amplitude for 8 -> 8x8 decay is then a sum of t

[2020-08-05 18:30] Aqsa-physics opened #261 "Build stuck with the warning related to Flexiblesusy"
I am building a physics software "gambit" and at the last step of

`make -jn gambit
`
I am getting the following warning over and over again and the build process is not proceeding forward. This is the warning I am getting regarding flexiblesusy:

`In file included from /usr/include/c++/7/cassert:44:0, from src/gsl_utils.hpp:26, from src/root_finder.hpp:33, from src/standard_model.cpp:33: src/gsl_

[2020-08-05 18:51] pathron commented on #261
I started replying to this report here: https://github.com/patscott/gambit_1.2/issues/4

[2020-08-11 08:22] pathron commented on #261
I'm closing this here because I believe further discussion in https://github.com/patscott/gambit_1.4/issues/3 confirmed that there was at least no problem with FS and it was just the slow gambit/FS  build making  Aqsa-physics suspicious.

[2020-08-11 08:22] #261 closed

[2020-08-14 15:27] Aqsa-physics commented on #261
Yes. Thank you very much...
Further discussions have been carried on the following thread
https://github.com/patscott/gambit_1.4/issues/3
Thanks for your help.

[2020-08-18 20:28] pathron opened #262 "FlexibleSUSY error handling when number of EWSB ouputs != EWSB equations"
Currently when a model file is badly written in FS such that the number of EWSB outputs is not equal to the number of EWSB equations FS just outputs an error message like

 `Error: There are 1 independent EWSB equations, but you want to fix 2

and then carries on to generate code and eventually give some cryptic compiler error.  The user may only notice the compiler error, but have no clue what th

[2020-08-18 20:34] pathron commented on #262
Pull request here https://github.com/FlexibleSUSY/FlexibleSUSY/pull/263 will merge it if everyone is happy.

[2020-08-18 21:09] pathron commented on #262
In an email thread Alex wrote:

Testing these now.   Let me know if there are other models that may be affected.

[2020-08-18 21:36] pathron commented on #262
Both of those build (and run) fine.

[2020-08-18 21:39] Expander commented on #262
Great, many thanks for testing!

[2020-08-20 00:33] #262 closed

[2020-08-27 14:48] wkotlarski opened #266 "cannot inialize masses from spectrum file in the SM"
While running
[code]
on [SPheno.spc.SM.txt](https://github.com/FlexibleSUSY/FlexibleSUSY/files/5137051/SPheno.spc.SM.txt) pole masses of down quarks are not initialized. This doesn't happen in the CMSSM. Anyone has any idea why? I'm looking into it but without success for a moment.

[2020-08-28 19:54] wkotlarski commented on #266
The problem comes from the difference in SM models in SPheno and FS. FS requires `Qin` from block `EXTPAR`. This I'm afraid is not possible to solve fully generally. There might always be differences between models that will cause spectra to be incompatible.

[2020-08-28 19:54] #266 closed

[2020-09-03 17:31] wkotlarski opened #267 "header conflict after boost update"
There's a problem I'm seeing after upgrade from boost 1.71 to 1.74.
[code]
Seems boost thinks `version` is its file.
Do we need the file `config/version`, and if yes which parts of the code are using it so that maybe we could rename it.

[2020-09-03 18:24] Expander commented on #267
Would the problem be solved if we'd rename `config/version` to `config/flexiblesusy-version`?

[2020-09-03 18:31] wkotlarski commented on #267
Yes.

[2020-09-03 18:34] Expander commented on #267
Thanks for testing! Then I'd propose to do a renaming. Would you be ok with this?

[2020-09-03 18:49] Expander commented on #267
Thanks! Are you ok with the name `config/flexiblesusy-version`?

[2020-09-04 06:04] #267 closed

[2020-09-24 13:01] uukhas opened #270 "SARAH`Vertex behaves weird with ghosts - bug."
Let us run, i.e.:
[code]
And then for
[code]
we have
[code]

I can assume, that colour indices in actual expression are substituted correctly, because of minus sign in the last expression. But there is something **weird** with colour index in the last expressions! Lorentz index is taken correctly. Also, look, please, at this expression:
[code]
with the following **wrong** result:
[code]
where `ct1

[2020-09-25 15:12] uukhas opened #271 "Explicit indices in SARAH`Vertex for VVVV."
If one uses indices, which are not **explicitly** equal to `lt1, lt2, lt3, lt4`, then vertex is evaluated to zero, like here:
[code]
First expression evaluates to
[code]
while the second gives
[code]

This is caused by ``SARAH`ExtractLorentz ``, where nobody cares about possible explicit indices. Should one be careful about this, as in #270 (this is relevant for #63)?

[2020-10-12 00:20] wkotlarski opened #274 "unfortunate behaviour of the configure script"
FYI. Imagine your license of mathematica is close to expire. Then `$SARAH_MODEL_DIR` bash variable will be set to
[code]
which breaks `sed` calls with
[code]
Something about expression `#65`, character `20` and unfinished command `s`.

[2020-10-12 08:03] wkotlarski commented on #274
To be clear -  i'm not saying we should necessarily do something about it. It's just that I've wasted 2h on this and though it should be documented.

[2020-10-21 22:06] wkotlarski opened #275 "(probably not) an unused variable"
I'm trying to eliminate warnings from FS compilation. One of them is
[code]
coming from
https://github.com/FlexibleSUSY/FlexibleSUSY/blob/a6c3f4ee40782fa86a207cee3989adda975afb37/src/for_each.hpp#L40
Is this some template magic I just don't understand or is it really an unused variable?

[2020-10-22 06:28] Expander commented on #275
This variable is indeed unused, in the sense that it is not read from. However, I'm not sure how to fix it, because I have the feeling that the r.h.s. must be assigned to something in order to be instantiated.

[2020-10-22 08:20] wkotlarski commented on #275
I would maybe add something like that
[code]
and leave it for now.

[2020-10-22 17:13] Expander commented on #275
I like this idea!

[2020-10-22 17:17] wkotlarski commented on #275
Done in b3c97f167733177612d2756a21bcd18ec2130435.

[2020-10-22 17:17] #275 closed

[2020-11-02 10:42] wkotlarski opened #276 "failing test run on macOS"
@Expander, could you maybe have a look at at [this](https://travis-ci.org/github/FlexibleSUSY/FlexibleSUSY/builds/740462333)? Test run is failing on macOS with g++.

[2020-11-04 01:00] wkotlarski commented on #276
Solved in #278.

[2020-11-04 01:00] #276 closed

[2020-11-04 22:48] wkotlarski commented on #166
Can we close it? From my point of view everything now works.

[2020-11-04 22:55] pathron commented on #166
This is the fix we have using for a good while now right? I guess this was just left open by mistake?

[2020-11-05 07:04] #166 closed

[2020-11-05 16:04] wkotlarski opened #279 "broken test"
If one runs FS through mathlink, then there's no equivalent of
[code]
variable. This means that observables are never printed.

[2020-11-05 16:58] Expander commented on #279
Does `FS@ModelName@CalculateObservables[]` not print the observables?

[2020-11-06 00:27] wkotlarski commented on #279
We decided that we'll control whether observables are printed or not by passing settings to `set_extra`. But when you use mathematica interface, the settings don't know about flag 15.

[2020-11-06 07:34] Expander commented on #279
Ah, yes, you are right. So, when a user currently uses the Mathematica interface, he decides whether to calculate the observables (using this function) or not. Maybe this design decision back then was not optimal. But anyway, do you want change it? Do you have a proposal in mind?

[2020-11-06 13:53] wkotlarski commented on #279
How about this 93692d6a076ae55c00ced70e923fabbd950aac8b?

[2020-11-06 15:46] Expander commented on #279
I'm not quite sure I understand what this change is supposed to do. It seems you are enforcing the observables to be calculated. Isn't this always the case? If not, then I agree with this change.

[2020-11-06 15:54] wkotlarski commented on #279
No, it only affects printing. Mathlink part only calculated observables if one calls observables directly. Calling them directly now sets appropriate flag in settings which is then read in the printing routine telling it to print observables.

[2020-11-06 15:56] Expander commented on #279
Ah, you're saying that the observables have not been printed before when this routine was called? Then this was a bug? :)

[2020-11-06 15:58] wkotlarski commented on #279
Yes. It broke CMSSM library link test.

[2020-11-06 15:58] Expander commented on #279
Ah, now I understand, sorry. :) Please feel free to merge you change then.
(I made some comments, though.)

[2020-11-06 17:45] #115 closed

[2020-11-06 17:51] #173 closed

[2020-11-06 22:44] #279 closed

[2020-11-07 16:29] wkotlarski commented on #270
I'm not sure what you mean. Below I think that everything is fine

Sarah orders colour indices. The last line has an odd-permutation hence the minus sign.

Not everything can be used as index. So the fact that the line below gives nonsense is expeted.

[2020-11-07 19:00] uukhas commented on #270
@wkotlarski,
For
[code]
there should be `Mom[gG[{ct2}], lt1]`.

"Not everything can be used as index." - yes, we discussed this with you after I found this issue. With this statement I agree, so that we *do not* use explicit integers for colors and use only `ct<1..4>`.

[2020-11-07 21:27] wkotlarski commented on #270
I see. I'm not sure what we can do about it as it's clearly a SARAH bug. Do you want find a source of error in Sarah and fix it?

[2020-11-08 11:05] wkotlarski commented on #270
BTW, how do you deal with the fact that all Sarah vertices are written as proportional to the momentum of the un-barred ghost while in FA it's the opposite?

[2020-11-08 17:00] uukhas commented on #270
I know the source of this bug. But I cannot write a bug report, because I am still not authorized to do so on appropriate web site :)

[2020-11-08 17:02] uukhas commented on #270
My code (#273) is giving exactly the same result as ``SARAH`Vertex`` do, without any additional logic.

[2020-11-16 13:57] wkotlarski opened #281 "LowPoleMassPrecision = {Hm} in CPV model cause a crash"
Following change cause error
[code]
This is specific only to CPV models. Was discovered by Vytautas in his custom model but happens also in CMSSMCPV. Unfortunately I'm not familiar with this part of the code. Anyone has any idea?
[code]

[2020-11-16 16:00] Expander commented on #281
There is no `Ah` in the MSSM/CPV model, because `hh` and `Ah` mix in this model. So, the change that was made does not make sense, sorry.

[2020-11-16 16:12] wkotlarski commented on #281
Heh.... That not he point. The problem is that `get_mass_matrix_Hpm()` contains `complex<double>` but the `MHpm_reordered` is suppose to contain `doubles`.

[2020-11-16 17:21] Expander commented on #281
Ah, sorry, I misunderstood. Good catch!

[2020-11-17 18:49] #281 closed

[2020-11-21 02:45] wkotlarski commented on #178
This now works correctly.

[2020-11-21 03:38] pathron opened #283 "Use new observable errpr handling in templates/a_muon.cpp"
Currently we have the following way of dumping caught errors

[code]

[code]

[code]

[code]

The third of these led to an error getting spat out, but no error showing up in the SLHA file output in a calculation Douglas was using.

We should instead be using the error handling for observables we designed in [](https://github.com/FlexibleSUSY/FlexibleSUSY/commit/54a51f5c6aa0d9682de56e32f056ad6b8fb1

[2020-12-09 05:26] wkotlarski opened #285 "disabling effective couplings breaks SM test"
`test_SM_observable_problems.m` expects some observable tests to fail. But after we've removed effective couplings there are no observables to be computed and the test passes.

[2020-12-09 05:29] wkotlarski commented on #283
You can mention @dhjjacob.

[2020-12-09 05:44] Expander commented on #285
We may simply remove these tests.

However, the test checked that the correct problem symbol is produced. It would be good to have something equivalent for the new decays.

[2020-12-11 14:01] wkotlarski commented on #285
Disabling effective coupling calculation breaks `test_CMSSM_database`. The error message is
[code]
The error comes from the `from_database` function in `CMSSM_utilities.cpp`, from the line
[code]

[2020-12-11 15:50] Expander commented on #285
Could you please try to remove the `*.db` files and then run the test again?

[2020-12-11 16:16] wkotlarski commented on #285
Oh, this work. The database is not recreated on every run of the test?

[2020-12-11 16:19] Expander commented on #285
Well, the test also reads a previously created database and checks that its content is reasonable.

But you are right, this approach is not optimal, as the test is brittle and may fail when one changes the output and does not run `make clean-test`.

[2020-12-11 16:20] wkotlarski commented on #285
I was thinking of adding
[code]
but if you want to check if db is readable than it's also not a good idea.

[2020-12-11 21:31] wkotlarski opened #286 "fix floating point comparison?"
Would you like me to fix it the following and similar warnings?
[code]
I'd replace them with `is_zero`. Or was there a reason behind writing those things in this way?

[2020-12-12 12:13] Expander commented on #286
Thanks for catching this! I'd prefer to use `is_zero`. Please feel free to fix it. :)

[2020-12-12 12:37] wkotlarski commented on #286
BTW, `is_zero` function is defined many times though out the code. In
- `src/threshold_loop_functions.cpp`
- `src/numerics.cpp`
- `src/pmns.cpp`
- `src/ckm.cpp`
- `src/numerics2.hpp`

Should we put it just in one place?

[2020-12-12 13:13] pathron commented on #286
Thanks Wojtek. I like both proposals.    Can we just include src/numerics2.hpp in the other files?

[2020-12-12 17:02] Expander commented on #286
Please leave it as is. Although the (trivial) `is_zero` function is replicated, this allows for a decoupling of the modules. I.e. since the function is so trivial, the decoupling is worth it, IMO.

[2020-12-13 08:39] pathron opened #287 "FlexibleEFTHiggs calculation assumes EWSB output parameters are scalar masses that are diagonal enrtries In gauge basis mass matriix"
We have already discussed this a lot by email, but to keep us focussed and so we have a record i'll repeat here how I summarized the issue by email.

Summary of Problem
------------------------------------------------------------------

I believe the cause is a bug in FlexibleEFTHiggs where an implicit assumption is made about which parameter will be the EWSB output.

Let me explain first in the s

[2020-12-13 13:26] wkotlarski commented on #286
@Expander, maybe I'm wrong, but if the main `is_zero` is defined in `src/numerics2.hpp` and is required only by `.cpp` files than doesn't it mean there is no coupling at all?

[2020-12-13 18:12] Expander commented on #286
You are right, the `.cpp` compilation modules are not coupled. What I mean is the coupling
[code]
For example `src/threshold_loop_functions.cpp` would include `numerics2.hpp`, which would include
[code]
Actually, only `<limits>` which would not be necessary, but a ton of other stuff would be included. I.e. one would unnecessarily increase the compile time and coupling to a header file, which is no

[2020-12-17 20:38] #286 closed

[2020-12-18 04:01] wkotlarski opened #290 "models subdirectories in SARAH 4.14.4"
This works in 4.14.3
[code]
but not in 4.14.4. What does work is this
[code]

[2020-12-18 08:54] Expander commented on #290
Did the interface of the `Start[]` function change? If so, we may report a bug to Mark and Werner.

[2020-12-18 09:58] Expander commented on #290
I've filed a bug report in the SARAH forum:
http://wernersarah.de/sarah_forum/viewtopic.php?f=12&t=687&sid=3bef7bd396cd470ef5a6f739d8213252

[2020-12-18 13:32] uukhas opened #291 "Precision of diagonalization"
**Problem:** different results for higgs mixing matrix between `FlexibleSUSY` and `Mathematica`.
**How to reproduce:**
Let us `./configure` `MRSSM2` with default setup in order to see numerical diagonalization of `hh`.
After running `make` let us change a bit `get_mass_matrix_hh()` and `calculate_Mhh()` inside `models/MRSSM2/MRSSM2_mass_eigenstates.cpp` by adding `std::cout << mass_matrix_hh << "\

[2020-12-18 16:09] Expander commented on #291
Dear @uukhas , many thanks for investigating!

I see your concerns. At first glance, it looks like a numerical instability. However, the sign difference looks a bit odd (but maybe it is not). Just for curiosity, would be the output, if you take `ZH` from FS and you multiply the first two rows by `-1`? Would you get the same as above? I'm just wondering if the sign cures the instability in some way

[2020-12-18 22:12] uukhas commented on #291
So, before going further into checks I have **increased** the cout **precision** by this (should have done this before):
[code]
Also, I was a little bit confused before. We have **rows** being equal to **eigenvectors** inside mixing matrix, which means, that the multiplication of any eigenvector (row) by -1 in principle is OK and physically equal to the different definition of higgs field, corresp

[2020-12-18 22:12] #291 closed

[2020-12-18 23:37] Expander commented on #291
Ah, perfect, so there is no issue. No worries. :)

[2020-12-19 22:39] wkotlarski commented on #290
The MSSMCPV also doesn't work but for a completely different reason. First, there's the warning
[code]
and then
[code]
This warning doesn't happen in 4.14.3.

[2021-01-04 06:50] pathron opened #292 "On MacOS Big Sur FS can't fimd pthreads library"
This was reported here https://github.com/GambitBSM/gambit/issues/254 for an old version of FS that is in GAMBIT, but  looking at the latest configure i think it should apply to the latest development branch too.  I asked Jonathan to confirm this if he can.

As per that thread it seems MacOS have renamed and moved a lot of libraries around and this is creating these kind of problems.

Looks to me

[2021-01-04 06:53] pathron commented on #292
I just tagged everyone who comes up in case one of you have MacOS BigSur or an older one and want to update to it.

[2021-01-04 06:57] pathron commented on #292
Sorry if that caused spam I was trying to add @uukhas to the assignees, but its not working...

[2021-01-22 10:38] wkotlarski opened #294 "failing macOS tests"
@Expander, do you understand why macOS tests on travis fail?

[2021-01-22 10:41] wkotlarski commented on #292
@pathron, I can't open [this](https://github.com/GambitBSM/gambit/issues/254) link.

[2021-01-22 11:21] pathron commented on #292
Yeah sorry I realised a bit later on when discussing with Alex that you can't see the link as the isue page is for the private gambit repo not the public forks of release branches . There were some annoying complications and we have been discussing a while off thread and think we have a fix, but I am waiting on my GAMBIT collaborator who has the BigSur to test some commands.  I also have an uglier

[2021-01-28 10:11] Expander commented on #294
Yes, travis-ci fails with MacOS due to a problem with TSIL. I'm working on it and have already prepared a patch.

BTW, we should probably remove travis-ci and only use github-actions.

[2021-01-29 09:07] Expander commented on #294
The tests on travis-ci on MacOS now pass.

[2021-01-29 11:28] wkotlarski commented on #294
Thanks a lot. I appreciate this. I know you're busy. I'll try to get your tests running on github.

[2021-01-29 11:28] #294 closed

[2021-02-06 12:19] wkotlarski commented on #290
Mark solved it in next SARAH version.

[2021-02-06 12:19] #290 closed

[2021-02-12 00:00] pathron commented on #292
I will open a new issue for the related fact that we don't actually disable multi-threading if finding pthreads fails.

[2021-02-12 00:00] #292 closed

[2021-02-12 00:14] pathron opened #299 "multi-threading is not disabled when we can't find pthreads"
It should be disabled when the user does not choose to pass --enable-threads because the default is supposed to be automatic (see `./configure --help`).

`threads           Enable multi-threading (default: automatic)`

This was revealed when dealing with this pthreads issue https://github.com/FlexibleSUSY/FlexibleSUSY/issues/292 originally from here GambitBSM/gambit#254 (which you need gambit repo

[2021-02-12 03:41] Expander commented on #299
Thanks for filing this bug!
Is there a system where we can test a potential fix?

[2021-02-12 03:49] pathron commented on #299
I wasn't expecting a reply now... are you up late or early?

Now that we have fixed the bug finding the library on BigSur, I don't have a system where this happens actually.

I didn't think too much on this but presumably i can find a hack to the configure script to make it not find the pthreads lib on ubuntu and then test it works that way.  Otherwise I could test it first without the BigSur fix,

[2021-02-25 12:20] wkotlarski opened #302 "function returning number of active quark flavours"
There's sort of a duplication in decays. I've introduced a function
[code]
This is similar to a private function `flavours` in `QedQcd`
[code]
Should we merge them?

[2021-02-25 12:25] uukhas commented on #302
Do you mean to keep (making public via some interface) `flavours` of `QedQcd`?

[2021-02-25 12:26] wkotlarski commented on #302
Make public and remove the one from decays.

[2021-02-25 12:28] uukhas commented on #302
This sounds suitable for me and I do not see any problems to make it public, because this function is not destructive (does not change any internal variables).

[2021-02-25 12:30] Expander commented on #302
I'd also vote for making `flavours` public and use this one.

[2021-02-25 12:44] wkotlarski commented on #302
The only problem is that this function returns 5 for `qedqcd.flavours(200.)`.

[2021-02-25 12:47] Expander commented on #302
Oh, you're right. The reason is that `QedQcd` returns only SM(5) couplings, by convention.

[2021-02-25 12:49] Expander commented on #302
I would not change the `flavours` function then. Instead, you might write a new public function which returns the "true" number of flavours. The issue is to find a proper name for the function. :)

[2021-02-25 13:19] pathron commented on #302
Is there a reason the top quark needs to be commented out at the top of flavours though? Is it ever needed to be 5 above the top quark mass?

[2021-02-25 13:29] Expander commented on #302
The reason is that `QedQcd` is required to return the SM(5) couplings, not SM(6) couplings.

[2021-02-25 13:46] pathron commented on #302
Yeah sorry I get that, but I am not sure it makes sense to use `QedQcd` above the top quark mass, so I am asking if we do?  And if we were using it above mt do we would really want SM(5) couplings then?

[2021-02-25 13:50] Expander commented on #302
Yes, it may happen that we use it above mt, for example if the user chooses to extract the couplings at some arbitrary scale that may be > mt.

Formally, the loop calculations are still correct at the respective loop order, because they assume SM(5) to come out of `QedQcd` and use it accordingly (adding threshold for the top, for example).

[2021-02-25 14:02] pathron commented on #302
Ah right, of course that’s possible.  It would be better if they did not do that though, and if they did we could have a different matching procedure.

Anyway this is a tangent.  I think Wojtek closed the thread because he already has his function - number_of_active_flavours, shown at the top.

[2021-02-25 14:17] wkotlarski commented on #302
Wojtek did not close the thread. Should Wojtek do that?

[2021-02-26 01:21] pathron commented on #302
Haha sorry I was confused by Alex closing and then reopening it and somehow assumed you had done the closing.

I guess it can be closed though, unless we want to discuss your number_of_active_flavours function?

[2021-02-26 07:22] Expander commented on #302
I think it cannot be closed yet, because Wojtek needs a function that returns the number of quark flavours in the SM, up to (including) 6.

[2021-02-26 14:54] wkotlarski commented on #302
I have my own function. Dylan also did the same. So from my point of view we can leave it like that.

[2021-02-26 15:24] Expander commented on #302
Sorry, do you mean to not change anything? I thought changing the code was the proposal.  :)

[2021-02-26 15:28] wkotlarski commented on #302
Yes. But since the functions are suppose to be different (one returns numbers < 6 and other <= 6) we can leave things as they are right now.

[2021-02-26 15:38] Expander commented on #302
Ok, I see, sorry for the confusion.

[2021-02-26 15:40] #302 closed

[2021-03-05 11:11] wkotlarski opened #303 "default munuSSM parameter point"
@pathron asked in which models decays are not enabled by default. One tricky point is that there are some models which have default parameter points which break decays. This then would break tests. An example is the munuSSM
[code]
You can see there's a ~2 GeV pseudoscalar. This casses problem when we try to determine the number of active quark flavour. And accepted answers are only 5 or 6. Could w

[2021-03-06 03:05] pathron commented on #303
I have no problem with the example point being changed (it is just an example, not a default — default implies that somehow it can be useful just to stick to this choice).

A bigger issue, that will apply also to to other models is what happens when this point is found in a scan ?  How do we handle this?

[2021-03-06 10:16] Expander commented on #303
Yes, we're free to change it, as long as the parameter point works. :)

[2021-03-18 10:19] wkotlarski opened #305 "massless sneutrinos in default UMSSM point"
From mass block:
[code]

[2021-03-18 10:22] wkotlarski opened #306 "loop function in FFV formafactor don't work in x->infinity limit"
Default parameter point in the UMSSM has massless sneutrinos. This results in
[code]
The conjecture is that the calculation actually has a well defined limit of x = (mf/ms)^2 -> infinity.

[2021-03-18 10:26] wkotlarski commented on #306
Cannot assign @dhjjacob. Seems one can only assign members of the FlexibleSUSY group (or something).

[2021-03-18 10:33] wkotlarski opened #307 "running of QedQcd object above mt cause NonConvergence exception"

[2021-03-18 10:37] Expander commented on #307
On which branch does this problem appear? Which model/parameter point can be used to reproduce the issue?

[2021-03-18 10:50] pathron commented on #307
It’s on the current FlexibleDecay branch, can’t check the exact name easily as I am on my phone - trying to get after the meeting before everything closes.   I sent you the SLHA files by email.

[2021-03-18 10:51] Expander commented on #307
Thanks! I'll try to reproduce the issue and come back to you.

[2021-03-18 11:50] dhjjacob commented on #306
Hi @wkotlarski, I have gone through already the limits for several (not yet all) of the one loop functions used in FFV_form_factors.cpp for the case of `x=m_F^2/m_S^2 = \infinity`:

Original functions:
`OneLoopB(\infinity) = 0`
`OneLoopC(\infinity) = 0`
`OneLoopE(\infinity) = 0`
`OneLoopF(\infinity) = 0`
New  FFV_vector functions:
`OneLoopJ(\infinity) = 0`
`OneLoopK(\infinity) = 0`
`OneLoopM(\infi

[2021-03-18 11:54] wkotlarski commented on #306
Ok, thanks! There would be two options. Catch just the `is_zero(m_S)` case or implement the expansion in 1/x variable and switch to it if 1/x is smaller than something.

[2021-03-18 12:05] dhjjacob commented on #306
Possible third option: Currently, what is used in the functions which check for this infinity is the std library's isinf(r) where r= m_F^2/m_S^2, with 0 returned if true.  This is an else if along with the other checks on r.  However, I'm not sure if this has any speed penalties with it.

[2021-03-18 12:17] wkotlarski commented on #306
What I'm afraid is that if we only catch `isinf(r)` than what if r is not inf but very close to it. The answer will be unreliable. For This we need an expansion in 1/r. And that expansion will be regular in r = inf, so the we don't need a check for r = inf. Or do you want to have both and that's what your question about speed refereed to?

[2021-03-18 12:31] dhjjacob commented on #306
Ah okay thanks, I was not aware of the possible unreliability.   In that case, the 1/x case sounds like a better fit to me, as only x is inputted into the one-loop functions.

[2021-03-18 12:50] wkotlarski commented on #306
So maybe something like that
[code]
`r = (m_f/m_s)^2`.

[2021-03-18 14:34] Expander commented on #306
@wkotlarski does your proposal mean that you want to pull the prefactor of the loop functions into the loop functions? I think in this case your proposal would be best.

[2021-03-18 14:57] Expander commented on #307
Many thanks for reporting this, it is actually a bug! The running top mass is used to check the convergence, but it is not properly fixed by a constraint. I'll prepare a fix.

[2021-03-18 18:46] Expander commented on #255
I guess there must be some subtlety here: If the `operator*` is implemented as a free function, it means that the operator is used if the arguments can be implicitly converted to the parameter types. (This is of course not identical to commutativity.)

So, if you have the following operator defined:
[code]
Then the order of the arguments does not matter if the following conversions are both allowe

[2021-03-18 22:24] #307 closed

[2021-03-19 03:11] #303 closed

[2021-03-19 09:56] wkotlarski opened #310 "gm2calc problem"
I've added GM2Calc to the image but there is problem with linking
[code]
Is there are reason `-fPIC` is not added by default by cmake? Should I add it manually?

[2021-03-19 11:35] Expander commented on #310
Please compile with `-DCMAKE_POSITION_INDEPENDENT_CODE=ON` .

I'd not add this by default to GM2Calc's `CMakeLists.txt` file, because we should let the user decide. Also, this interferes with the creation of the conan GM2Calc package, where conan controls if `-fPIC` should be used or not.

[2021-03-19 12:10] wkotlarski commented on #310
Thanks a lot for a quick reply :heart: Closing.

[2021-03-19 12:10] #310 closed

[2021-03-20 02:15] wkotlarski opened #311 "broken tests"
#308 broke tests. Sorry, I didn't notice it before I ok'ed the merge.
[code]
[code]

[2021-03-20 02:28] Expander commented on #311
Ok, I'll have a look

[2021-03-20 02:42] Expander commented on #311
I can't reproduce this failure on my machine with the setup
[code]
Which setup is used that fails the test?

[2021-03-20 03:06] wkotlarski commented on #311
I also don't get this error on my machine. Not sure how to debug it as logs don't contain anything else.

[2021-03-20 03:15] wkotlarski commented on #311
Also, this change does give a relative difference for all widths of 1e-10? Should this change be neutral for all cases where we don't run QedQcd model?

[2021-03-20 03:19] pathron commented on #311
Where are you seeing the error, its from the automated checks via the CI?  Sorry I am crap at reading these so its probably just me and I missing something / looking in the wring place, but I see a clang build error reported, but not the one you pasted.

[2021-03-20 03:22] wkotlarski commented on #311
[here](https://github.com/FlexibleSUSY/FlexibleSUSY/runs/2140826848?check_suite_focus=true)

[2021-03-20 03:30] pathron commented on #311
Thanks! Sorry I am was staring at that and somehow missing it.   .

[2021-03-20 03:32] wkotlarski commented on #311
If you want to learn why a given test failed you have to download logs ([those ones in this particular case](https://github.com/FlexibleSUSY/FlexibleSUSY/suites/2292707045/artifacts/48045508)) and find a corresponding test log.

[2021-03-20 10:20] Expander commented on #311
The change only affects cases, where you run the QedQcd object to a scale above pole Mt.

[2021-03-20 10:58] Expander commented on #311
By looking at the verbose output on my machine, it seems that the EWSB solving outcome depends on the GSL. If the virtual machine uses a different GSL version, the code may behave differently.

[2021-03-20 11:12] Expander commented on #311
I've found a possible reason for the difference: The initial guess for the running mt uses the running mt from QedQcd. This value has slightly changed in the fix.

This would mean, that the test is sensitive to the initial guess, which is bad. I'm wondering if we should remove the test.

[2021-03-20 12:17] wkotlarski commented on #311
But this still doesn't explain why there is a difference if we don't run QedQcd above the scale of mZ, right?

[2021-03-20 12:26] Expander commented on #311
Well, it is just the initial guess that is slightly different, because in the initial guess we read the running mt from the QedQcd object (we don't do this anywhere else if we don't run above mt).

[2021-03-20 12:42] wkotlarski commented on #311
do you know if your commit made any shift to lets say alpha_s at mZ (I'm looking for a shift at the 1e-10 level)?

[2021-03-20 14:12] wkotlarski opened #312 "add check that rotation matrices are unitary"
Can we add a check that after mass diagonalization rotation matrices are unitary? @vytautasdudenas has some point which breaks diagonalization routine.

[2021-03-20 15:01] wkotlarski commented on #312
Related question: in `linalg2.cpp` template arguments are called `Real`. Is it just name or do we really assume the matrices are real? We want to diagonalize complex symmetric matrix. I wrote a standalone program and eigen doesn't have problem with this matrix:
[code]

[2021-03-20 15:07] wkotlarski commented on #312
The statement is that matrix `m` once passed through `fs_diagonalize_symmetric` gives garbage.

[2021-03-20 15:29] wkotlarski commented on #312
This dumb `m` is complex, symmetric but not hermitian. It can be diagonalized by Takagi's factorization as
[code]
Is it possible that we don't catch this case and try to diagonalize it as
[code]

[2021-03-20 17:04] Expander commented on #311
I've checked that the value of alpha_s in the QedQcd class does not change, as long as one does not run above Mt. However, the initial guess for the value of g3 in the BSM model may change, because of a slightly different initial value of mt(SM(5)). This may affect the rest of the calculation slightly.

[2021-03-20 23:23] pathron commented on #311
If an initial value in a fixed point iteration is changed then all the final values at the end of the iteration can change by some by quantities less than the convergence criteria.   So I would expect small changes everywhere that depend on the QedQcd parameters, or I am misunderstanding what is going on?

By the way why does a test to do with EWSB  require QedQcd at all?   Can’t the parameters us

[2021-03-21 00:41] Expander commented on #311
@pathron you are exactly right, this is what happens. After the iteration has stopped, the result is different by a small numerical value below the precision goal.

However, this test point is designed to not converge and fail due to no EWSB. The small difference in the initial guess now somehow changes the iteration a bit (in an unstable way). On the CI the iteration stops with "no convergence".

[2021-03-21 00:43] Expander commented on #311
@wkotlarski For this test point I see the following change in g3(BSM):
[code]
Would such a small change in g3(BSM) lead to the change in the decays that you observe?

[2021-03-21 00:51] wkotlarski commented on #311
I see discrepancies at the the level of 1e-10. So it kind of consistent.

[2021-03-21 01:09] Expander commented on #311
Thanks for the confirmation!

[2021-03-21 01:12] Expander commented on #311
I'd vote for removing this test if it is so brittle. What do you think?

[2021-03-21 01:29] pathron commented on #311
I don't have a problem with removing it.  Regarding your comment, sorry I wasn't realising its just a test of a full FS run that test the error gets caught and put in the output slha file.   I was thinking of a more "unity" test, that fixes some inputs and just tests the error is thrown  but I don't see this as necessary.

[2021-03-21 01:30] wkotlarski commented on #311
As you decide. I'll follow your advice. I'm ok with removing them.

[2021-03-21 01:39] Expander commented on #311
Thanks for your comments! I've removed it.

[2021-03-21 01:39] #311 closed

[2021-03-21 12:17] Expander commented on #312
Jae-hyeon's naming convention for the template parameters is:
* `Real` = real number
* `Scalar` = real or complex number

If you want to diagonalize a complex symmetric matrix, the following routines should do that:
* `fs_diagonalize_symmetric`
* `fs_diagonalize_symmetric_errbd`

Can you please check the output of the `fs_diagonalize_symmetric_errbd` routine? The parameters `s_errbd` and `u_errbd`

[2021-03-21 12:21] Expander commented on #312
Could you please paste here the output of your example with plain Eigen and the result of one of the FS routines?

[2021-03-21 12:46] wkotlarski commented on #312
Sorry, this is incredibly scruffy but I was able to feed Vytautas's matrix to `fs_diagonalize_symmetric_errbd`.
My eigenvalues are
[code]
FS
[code]
So all is fine there. But here are checks of rotations from FS

`rot * rot.transpose().conjugate()`
[code]

`rot * rot.transpose()`
[code]

[2021-03-21 17:10] Expander commented on #312
Can you please print the output of
[code]
? This should be the convention, IIRC.

[2021-03-21 17:12] Expander commented on #312
One question: Is this a scenario where SVD could also be used?

[2021-03-21 17:13] Expander commented on #312
What is the output of `s_errbd` and `u_errbd` from the routine?

[2021-03-21 17:20] wkotlarski commented on #312
[code]

[2021-03-21 17:31] wkotlarski commented on #312
[code]

[2021-03-21 17:59] Expander commented on #312
Oh dear! `u_errbd` means that we have indeed a 100% error here. It has probably to do with the multiple vanishing eigenvalues.

[2021-03-21 18:01] Expander commented on #312
Does plain Eigen give the same incorrect mixing matrix/eigenvectors?

[2021-03-21 18:03] wkotlarski commented on #312
Originally I made a "mistake". While using eigen I did SVD and there everything works. But then I realized that we are actually diagonalizaing this matrix in FS without SVD. So I have to rewrite my program.

[2021-03-21 18:52] wkotlarski commented on #312
Pure eigen example (based on `ComplexEigenSolver`):
[code]
The small eigenvalue is slightly different and with an opposite sign.

[2021-03-21 20:26] wkotlarski commented on #312
I'm really confused about what are we exactly trying to do here. By spectral theorem the matrix is diagonalizable (related to diagonal matrix by a unitary transformation) if it's normal (A A* = A* A). The matrix from Vytautas is not normal.

[2021-03-21 21:32] wkotlarski opened #313 "massless SM fermions in the LRLR model"
All SM fermions are massless
[code]
Is this how it should be? Is the model physical at all?

[2021-03-21 21:34] Expander commented on #313
That's normal, there is nothing to see here ...  :D

[2021-03-21 21:36] Expander commented on #312
:D  Could you please sketch the Lagrangian mass terms that shall be diagonalized? Is this similar to anything we know in the MSSM or another model?

[2021-03-21 21:37] Expander commented on #313
I don't know anything about this model, it may be a fantasy thing or FS cannot properly deal with it.

[2021-03-21 21:42] wkotlarski commented on #312
I don't know much about this models. It has a right handed neutrino with interaction
[code]
The physical states are defined as
[code]
Maybe @vytautasdudenas  can comment on that.

[2021-03-21 21:44] wkotlarski commented on #313
I will disable decays in that model then. They can be generated but there's a test that runs all spectrum generators with default input card. And decays crash if SM fermions are massless.

[2021-03-21 22:05] Expander commented on #313
Yes, please disable the decays for this model.

[2021-03-21 22:07] wkotlarski commented on #313
Thanks, I'll do that. @pathron you want to comment on the origin of this model? If not I'll close the issue in 24h.

[2021-03-21 22:16] Expander commented on #312
IIRC, @vytautasdudenas also had a problem with the chirality of the external states in the self-energies in FS. (This issue is unresloved, I think, sorry.) So one first point could be to check that the SARAH model file is correct (if not done already) and that SARAH creates the correct expressions for the mass matrices and self-energies.

[2021-03-21 22:21] wkotlarski commented on #312
But isn't the problem kind of model independent? There is an example of a complex symmetric matrix that when passed to `fs_diagonalize_symmetric` gives a non-unitary rotation?

[2021-03-21 23:09] wkotlarski commented on #255
Thanks a lot!

[2021-03-21 23:09] #255 closed

[2021-03-22 00:40] pathron commented on #313
So I don’t know who created this model.  Left-Right models are important and interesting so it would be nice to have one.

However actually looking at this one it references a 750 GeV diphoton paper, so was this from that project?   I don’t recall what we did with all those models,  originally they were in a downloadable pack, but they can’t all be in model_files list, so I am not sure why this is

[2021-03-22 00:44] pathron commented on #313
Looking at the model a file and the LesHouches file it looks like there is areinput blocks for the fermion masses and they are just set to zero.   I can’t see what them being used in the model file but maybe I miss something and just setting the diagonal entries of the FDIN etc to the correct fermion masses will work?

[2021-03-22 00:47] pathron commented on #313
I am fine with you anyway disabling decays for this model, since we are confused about it.

[2021-03-22 07:57] Expander commented on #312
You are right, this is a numerical problem.
I was just suspecting that there may be a problem also with the spinor definitions in the SARAH model, but maybe this is not the case.

[2021-03-22 07:59] Expander commented on #313
Ok, maybe we could also set the mass input parameters to some non-zero values to avoid the confusion.  :)

[2021-03-22 08:11] wkotlarski commented on #313
But why are SM masses free parameters? Shouldn't they be always determined via the matching to the SM?

[2021-03-22 08:14] Expander commented on #313
I have no idea, it is just how the SARAH/FS model files were invented to match the corresponding 750 GeV paper the model refers to. :)

[2021-03-22 08:43] vytautasdudenas commented on #312
I think the problem is in taking a square root of a matrix, when doing Takagi factorization from https://doi.org/10.1016/j.amc.2014.01.170. I got the same problem, when modifying initial Wojciech cpp code to have = UnT mdiag Un as is done that
 paper. The code:

`#include <iostream>
#include <Eigen/SVD>
#include <complex>
#include <iomanip>
#include <unsupported/Eigen/MatrixFunctions>

using names

[2021-03-22 10:20] vytautasdudenas commented on #312
@wkotlarski, it doesn't have to be normal, just symmetric. It is diagonalized as Un^T mdiag Un = M, where mdiag consists of singular values, and Un^T !=Un^-1.  If Alex is right, and FS uses the method described in  https://doi.org/10.1016/j.amc.2014.01.170., then you can first get U, V  and mdiag from SVD, and then construct
Un = U * Z^(1/2),
where
Z = U^\dagger V* .
In the example of my previous

[2021-03-22 16:37] Expander commented on #312
@vytautasdudenas thanks for the detailed comment! Your example suggests, that in your example code the call `Z.sqrt()` sometimes returns incorrect numbers, probably due to an instability in its implementation, right?

FS does exactly what you're saying (`src/linalg2.hpp`):
[code]
I.e. it uses the `.sqrt()` method, which (according to your example) is unstable here.

It sounds to me that we should

[2021-03-22 16:52] vytautasdudenas commented on #312
I think so too, yes.

[2021-03-22 20:44] vytautasdudenas commented on #312
OK, sorry, I am a bit confused. The Z-matrix, that I get with this example, if you neglect O(10^-16) elements, is basically diag(1,-1,-1,1):
[code]

The square root of it, however, have significant off-diagonal terms:
[code]

and is not unitary, but .sqrt() does its job in the sense that Zsqrt * Zsqrt gives me again:

[code]
which is again, unitary. Square root of a unitary matrix should be unitar

[2021-03-23 17:14] wkotlarski opened #314 "odd semi random error"
There's an odd random error in `test_flexiblesusy-config.sh`
[code]
I'm saying odd because during the same run the same test passed fine with clang but failed with gcc.

[2021-03-23 17:53] wkotlarski commented on #312
So Is the origin of the problem the routine that calculates sqrt of a matrix? If yes this might be a problem because it comes from an [unsupported](https://eigen.tuxfamily.org/dox/unsupported/group__MatrixFunctions__Module.html#title9) module. According to the webpage
[code]

[2021-03-23 17:54] wkotlarski commented on #313
I put some numbers which give
[code]
I wouldn't want to spent time tuning this point...

[2021-03-23 18:06] Expander commented on #313
That is very nice, many thanks! Yes, don't spend more time on this point.

[2021-03-23 18:08] wkotlarski commented on #313
Thanks! I'll commit a fix.

[2021-03-23 18:08] #313 closed

[2021-03-23 18:09] Expander commented on #314
That is indeed very strange, as the test passes with gcc in the nighly test:
https://flexiblesusy.hepforge.org/test/FlexibleSUSY/test/test_flexiblesusy-config.sh.log

[2021-03-23 20:00] wkotlarski commented on #312
There are two ways to get sqrt of a matrix in eigen. One is to use a build in function `.sqrt`. The other one is to encode your own and use `.matrixFunction` method. This second way does give a correct result
[code]
Giving from `.sqrt`
[code]
and from handwritten
[code]

[2021-03-23 22:33] Expander commented on #312
@wkotlarski Wow! Where did you get the inspiration for `sqrtfn` from?

[2021-03-23 22:36] Expander commented on #314
Could you please paste here the explicit compilation command (including all the `-I...` stuff) that leads to this error?

[2021-03-24 11:42] wkotlarski commented on #312
It's because my life is very sad 😞 A more important question is what do we do now. For this case it works fine. But I'm reluctant to suggest to change sqrt to handwritten sqrt in FS. Can we add a check that the rotation matrix computed by `fs_diagonalize_symmetric` is unitary? Because currently there's a danger of silently producing garbage. This would be a good first step.

[2021-03-24 11:50] wkotlarski opened #316 "default CSE6SSSSSSM has a problem"
Has anyone else saw this
[code]
It's on the development branch.

[2021-03-24 11:57] pathron commented on #316
No, but it can easily be that small changes shifted the point towards an ewsb failure.   I will look into it.

[2021-03-24 12:13] wkotlarski commented on #316
You should go to sleep Peter. See you tomorrow :)

[2021-03-24 14:29] wkotlarski opened #317 "how is this even possible...."
[code]

[2021-03-24 15:26] Expander commented on #317
Obviously the inclusion directory `-Imodel_specific/MSSM_higgs` is missing. I guess you did properly run `./createmodel` and `./configure`? Could you please paste the `config.log`, `config.status` and `make showbuild` here?

[2021-03-24 15:28] wkotlarski commented on #317
Yes. I've noticed this. But it tried it few times on my machine and this path is there. I have no idea what's going on.

[2021-03-24 15:31] Expander commented on #312
We have `--enable-debug` and `--enable-verbose` which sets debug/verbose flags that could be used to add the ckeck. In fact, we already add error checks (search for `CHECK_EIGENVALUE_ERROR`) for eigen values. We may simply extend this check.

Before we replace `.sqrt()` by your (very cool) hand-written one, we'd have to properly test it, of course. (Does anyone know how Eigen implements it, if the

[2021-03-24 15:33] Expander commented on #317
Ok, so then this path is then somehow missing on the build from above. I could only imagine that the configure script has a problem.

[2021-03-24 15:34] Expander commented on #316
Thanks for looking into this, Peter. Sweet dreams (are made of this...)!

[2021-03-24 15:41] wkotlarski commented on #312
It's in `eigen3/unsupported/Eigen/src/MatrixFunctions/MatrixSquareRoot.h`. It seems to be base on Shur's decomposition
[code]

[2021-03-24 15:47] wkotlarski commented on #312
from [here](https://eigen.tuxfamily.org/dox/unsupported/group__MatrixFunctions__Module.html#title12):
The computation is the same as in the real case, except that the complex Schur decomposition is used to reduce the matrix to a triangular matrix. The theoretical cost is the same. Details are in: Åke Björck and Sven Hammarling, "A Schur method for the square root of a matrix", Linear Algebra Appl.

[2021-03-24 18:45] wkotlarski commented on #317
I know what's going on. It's this stupid error that mathematica crashes if it's close to the end of the license (license of a wolfram engine is renewed every month)
[code]
Sorry for bothering you.

[2021-03-24 18:45] #317 closed

[2021-03-24 19:00] Expander commented on #317
Ah, ok. :)

BTW, why are you required to renew the license every month? I've also installed Wolfram Engine and don't have to renew it. Is this specific to the version you use or so?

[2021-03-24 19:23] wkotlarski commented on #317
If you look into the license file, you'll see it's getting renewed every month. This happens automatically. Those errors start to appear around10 days before the renewal date.

[2021-03-24 19:35] wkotlarski commented on #314
This might be related #317. I've changed CI to save `config.*` files and call `make showbuild`. Lets see. Closing for now. Thanks!

[2021-03-24 19:35] #314 closed

[2021-03-25 15:10] wkotlarski commented on #312
@vytautasdudenas, has you checked that with my version you're getting the result you expect from your calculation?

[2021-03-29 14:04] wkotlarski opened #318 "where doesn ENABLE_TWO_SCALE_SOLVER come frome?"
Like in the title. There's a lot of
[code]
but I cannot find a place where it comes from.

[2021-03-29 16:56] Expander commented on #318
It is determined in the `configure` script and defined/undefined in `config/config.h`.

[2021-03-29 21:54] wkotlarski commented on #318
I'm sorry @Expander. I swear, I did grep for it. I just wasn't expecting it in the config dir.

[2021-03-29 21:54] #318 closed

[2021-04-21 12:19] pathron commented on #316
So I only just got back to this now...  I can reproduce the problem at least.

Unfortunately it takes a long time to build when I add cout statements to some files to see whats going on, so it may take a while....

[2021-04-22 01:24] wkotlarski opened #319 "tweaks to MRSSM model file"
I'd like to ask Mark to make a change to the MRSSM model file. I want him to add Dependence -> 0 to `parameters.m` for `Mu`, `B[MuU]` and `B[MuD]`. This does break FS thought. Could there be a way to circumvent it? The reason why I want to do it is that MRSSM is very complicated. Once you put it into codes like micrOMEGAs it takes ages for some processes. I want to finally simplify it.

[2021-04-24 13:09] wkotlarski opened #320 "auto package models on release"
We could use github to automatically create packaged models on a new release using syntax
[code]
Do you think it would be useful? If yes, can you tell me how you package those models?

[2021-04-29 16:34] Expander commented on #320
That's a great idea! Some questions:
* Where would the generated tarballs be stored and can be downloaded?
* Can this new entry in the `.yml` file be tested? (Since I've never got these yaml entries right the first time, I'm worried that it may not work correctly if it is not tested.)

To generate the pre-generated model source codes I'm running (on the release commit):
[code]
The results are stor

[2021-05-01 05:55] dhjjacob commented on #306
While all the one loop function but OneLoopN now have the 1/r < ratio_limit cases, there is an issue that I overlooked.  While there are well-defined limits when mS->0 for the one loop functions, these one-loop functions themselves do not apply, as they must be derived my assuming a small mi and mj.  So I think I will need to give these functions the same treatment that I gave `FFV_FFV`, which wil